# 11th April Live Class 
## Classes and Object (OOP Concepts)
---
### Class
* A class is a blueprint for the object.

* We can think of class as a car with labels. It contains all the details about the name, milage, year, model etc. Based on these descriptions, we can study about the car. Here, a audiQ7 is an object.

* The example for class of car can be :

In [1]:
class car:
    pass

* Here, we use the **`class`** keyword to define an empty class Car. From class, we construct instances. 
* An **instance** is a specific object created from a particular class.
---
### Object / Instance
* An object (instance) is an instantiation of a class. When class is defined, only the description for the object is defined. Therefore, no memory or storage is allocated.

* The example for object of car class can be:

In [2]:
# here we are trying to create an variable(object) of car class
audiQ7 = car()

* Here, obj is an object of class Parrot.

* Suppose we have details of car. Now, we are going to show how to build the class and objects of car.
---
### Attributes
* The attributes are a characteristic of an object.
* in below example, we can see the various attributes of object like: milage, year, make, model etc.
* but in below example we defined attributes outside of the car class, this is the bad practice to define a attributes. we have to define the attributes of class with in the class.

In [3]:
audiQ7.milage = 10
audiQ7.year = 2021
audiQ7.make = 342
audiQ7.model = 'Hatchback Sedan'

* These attributes are defined inside the **`__init__()`** method of the class. It is the initializer method that is first run as soon as the object is created.
* this is how we used to define attribute inside the class.. 
```
class car:
    def __init__(self, milage, year, make, model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model
```

In [4]:
audiQ7.milage

10

In [5]:
audiQ7.year

2021

In [6]:
nano = car()

In [7]:
# but this a bad way of programming practice
nano.milage = 28
nano.year = 2020
nano.make = 242
nano.model = 'hatchback car'
nano.enginno = '23M2356XZ096D'

In [8]:
print(nano.milage,nano.model, audiQ7.milage,audiQ7.model)

28 hatchback car 10 Hatchback Sedan

### The self Parameter
* The self parameter is a reference to the current instance of the class, and is used to access variables that belongs to the class.

* It does not have to be named self , you can call it whatever you like, but it has to be the first parameter of any function in the class:

In [9]:
# This is the good way of programming practice
# python don't have concept of CONSTRUCTOR
# __init__() is an in-built function
# This operation is called initilization of object

class car:
    def __init__(self, milage, year, make, model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model

In [10]:
try:
    nano1 = car()
except Exception as e:
    print(e)

__init__() missing 4 required positional arguments: 'milage', 'year', 'make', and 'model'

In [11]:
nano1 = car(23,2021,345,'Hatchback car')

In [12]:
audiQ71 = car(10,2019,3845,'Hatchback SUV Sedan')

In [13]:
nano1.milage

23

In [14]:
# we can create 'n' no. of object using one class

nano2 = car(23,2021,345,'Hatchback car')
audiQ72 = car(10,2019,3845,'Hatchback SUV Sedan')
nano3 = car(23,2021,345,'Hatchback car')
audiQ73 = car(10,2019,3845,'Hatchback SUV Sedan')
nano4 = car(23,2021,345,'Hatchback car')
audiQ74 = car(10,2019,3845,'Hatchback SUV Sedan')
nano5 = car(23,2021,345,'Hatchback car')
audiQ75 = car(10,2019,3845,'Hatchback SUV Sedan')
nano6 = car(23,2021,345,'Hatchback car')
audiQ76 = car(10,2019,3845,'Hatchback SUV Sedan')
nano7 = car(23,2021,345,'Hatchback car')
audiQ77 = car(10,2019,3845,'Hatchback SUV Sedan')

In [15]:
print(nano2.milage)
print(audiQ74.model)

23
Hatchback SUV Sedan

In [16]:
print("""Now here we making changes, we are removing self
parameter from class.

"Still its working"
because 'milage' is behaveing as self.
in python classes, every first parameter is act as a self pointer,
even if we not defined a self parameter.. so it's better
to remove confusion, define a first parameter as 'self'
""")

class car:
    def __init__(milage, year, make, model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model

Now here we making changes, we are removing self
parameter from class.

"Still its working"
because 'milage' is behaveing as self.
in python classes, every first parameter is act as a self pointer,
even if we not defined a self parameter.. so it's better
to remove confusion, define a first parameter as 'self'

In [17]:
print("""We can use an any other variable insted of 'self' here we are defining 'a' as a pointer to class.
Still it will be work fine..""")
class car:
    def __init__(a, m, y, ma, mo): # These parameters are called 'Argument'
        a.milage = m
        a.year = y
        a.make = ma
        a.model = mo

We can use an any other variable insted of 'self' here we are defining 'a' as a pointer to class.
Still it will be work fine..

In [18]:
nano_car = car(23,2009,2353,"Hatchback car")

In [19]:
# nano_car.m

In [20]:
nano_car.milage

23

In [21]:
class car:
# any function with in the class is called as "Method"
    def __init__(a, m, y, ma, mo): # These parameters are called 'Argument'
        a.milage = m
        a.year = y
        a.make = ma
        a.model = mo
        
# here we are created a another method 'age'
    def age(b, cur_year):
        return cur_year - b.year
    
# adding another method called as a milage
    def milage1(c):
        print(f"Milage of a car is:{c.milage}")
        
# We are defining another built-in method
    def __str__(d):
        return "This is a car class i have created"

In [22]:
nano_car = car(23,2009,2353,"Hatchback car")

In [23]:
nano_car.age(2021)

12

In [24]:
nano_car.milage1()

Milage of a car is:23

In [25]:
print(nano_car)

This is a car class i have created

In [26]:
class student:
    
    def __init__(a_self, name, roll_no,joining_date,cur_topic):
        a_self.stud_name = name
        a_self.rollNo = roll_no
        a_self.join_date = joining_date
        a_self.current_topic = cur_topic
        
    def name_pars(self):
        if type(self.stud_name) == list:
            for i in self.stud_name:
                print(f"name of student: {i}")
        else:
            print("Provided name is not in a form of list")
    
    def crt_topic(b_self):
        print("current topic discussed in class is",b_self.cur_topic)
        
    def str_rno(c_self):
        try:
            if type(c_self.rollNo) == str:
                print("Roll no is not an String Type..")
            else:
                return str(c_self.rollNo)
        except Exception as e:
            print(f"This is an error msg: {e}")      

    def dur(d_self, current_date):
        print(f"Duration of student in my class is {current_date-d_self.join_date} year.")
        
    def __str__(self):
        return "This is a student class"

In [27]:
harshal = student("Harshal", 22 , 2020,"Python oop concepts")

In [28]:
harshal.dur(2024)

Duration of student in my class is 4 year.

In [29]:
harshal.str_rno()

'22'

In [30]:
print(harshal)

This is a student class

In [31]:
neha = student("neha",21,2020,'Exception Handling')

In [32]:
neha.dur(2021)

Duration of student in my class is 1 year.

In [33]:
team = student(["Virat","MSD",'Pant',"R Sharma"],[24,25,26,27],2021,"OOPs Concept")

In [34]:
team.name_pars()

name of student: Virat
name of student: MSD
name of student: Pant
name of student: R Sharma

In [35]:
harshal.name_pars()

Provided name is not in a form of list

In [36]:
print(harshal)

This is a student class

---
## Quick Quiz 1
#### Level 1 Task
1. Create a `class data:`
2. create a class variable `(filename,file_type,date,size)`
3. create a function `file_open():` in this function, write a set of instruction which can help to create a new file incase of file is not exist, and write something in the file.
4. create a function `file_read()` which can help to read the content of the file.
5. create a another function `file_append()` which can help to append new data in a same file and try to show data.

#### Level 2 Task
1. Impliment Exception Handling
2. create a logger, try to create a logger function inside a class.

In [37]:
import os
# os.mkdir("Task_related_to_PP6")
os.chdir("Task_related_to_PP6/")
print(os.getcwd())

D:\iNeuron\Python\Task_related_to_PP6

In [38]:
# This is the level one solution

class data:
    def __init__(self, filename,file_type,date,size):
        self.filename = filename
        self.fileType = file_type
        self.date = date
        self.size = size
        
    def file_open(self):
        if type(self.filename) == list:
            print(f"filename {self.filename} in a list format..")
            for i in self.filename:
                f = open(i,'w')
                f.write("This is the data we have written inside the file..")
                f.close()
                print(f"{i} is created in {self.fileType} format")
        else:
            f = open(self.filename,'w')
            f.write("This is the data we have written inside the file..")
            f.close()
            return f"{self.filename} is created in {self.fileType} format"

        
    def file_read(self,fname):
        self.fname = fname
        f = open(self.fname,'r')
        f.seek(0)
        a = f.read()
        f.close()
        return a
    
    def file_append(self,fname):
        self.fname = fname
        f = open(self.fname,"a+")
        f.write("\nThis is the appended text inside the file")
        f.seek(0)
        b = f.read()
        f.close()
        return b

In [39]:
new1 = data('datafile1','.txt','21-07-2021',0)

In [40]:
new1.date

'21-07-2021'

In [41]:
new1.filename

'datafile1'

In [42]:
new1.file_open()

'datafile1 is created in .txt format'

In [43]:
new1.file_read('datafile1')

'This is the data we have written inside the file..'

In [44]:
print(new1.file_append('datafile1'))

This is the data we have written inside the file..
This is the appended text inside the file

In [45]:
new2 = data(['f1','f2','f3'],'.txt','22-07-2021',0)

In [46]:
new2.file_open()

filename ['f1', 'f2', 'f3'] in a list format..
f1 is created in .txt format
f2 is created in .txt format
f3 is created in .txt format

In [47]:
new2.file_append('f1')

'This is the data we have written inside the file..\nThis is the appended text inside the file'

In [48]:
print(new2.file_read('f2'))

This is the data we have written inside the file..

In [49]:
# This is the level two solution

class data:    
    def __init__(self, filename,file_type,date,size):
        self.filename = filename
        self.fileType = file_type
        self.date = date
        self.size = size
        
    def log(self,log1):
        import logging as lg
        import os
        lg.basicConfig(filename = "logs.log", format = "%(asctime)s [%(levelname)s]: >> %(message)s")
        lg.error(log1)

    def file_open(self):
        try:
            if type(self.filename) == list:
                print(f"filename {self.filename} in a list format..")
                for i in self.filename:
                    f = open(i+self.fileType,'w')
                    f.write("This is the data we have written inside the file..")
                    f.close()
                    print(f"{i} is created in {self.fileType} format")
            else:
                f = open(self.filename,'w')
                f.write("This is the data we have written inside the file..")
                f.close()
                return f"{self.filename} is created in {self.fileType} format"
        except Exception as e:
            print(f"error is occured:{e}")
            self.log(e)

        
    def file_read(self,fname):
        self.fname = fname
        try:
            f = open(self.fname,'r')
        except Exception as e:
            print(f"This Error is Occurred: \n{e}")
            self.log(e)
            print(f"Try first with file_open() method with '{self.fname}'")
        else:
            f.seek(0)
            a = f.read()
            f.close()
            return a
    
    def file_append(self,fname):
        self.fname = fname
        try:
            f = open(self.fname,"a+")
        except Exception as e:
            print(f"This error is occurred: {e}")
            self.log(e)
        else:
            data = input(f"Enter a data which you want to append inside file {self.fname}:\n")
            f.write(f"\n{data}")
            print("Data is successfully written in file..!")
            f.seek(0)
            b = f.read()
#             f.close()
            return (f"\nData is :\n{b}")
        finally:
            try:
                f.close()
            except Exception as e:
                print(f"This error is occurred: {e}")
                self.log(e)
                print("Try to write a file name in paranthesis..")

In [50]:
new3 = data('xyz','.txt','23-07-2021',1)

In [51]:
new3.filename

'xyz'

In [52]:
new3.file_open()

'xyz is created in .txt format'

In [53]:
new4 = data(['a1','b2','c3'],'.txt','22-07-2021',0)

In [54]:
new4.file_open()

filename ['a1', 'b2', 'c3'] in a list format..
a1 is created in .txt format
b2 is created in .txt format
c3 is created in .txt format

In [55]:
new3.file_read('f122')

This Error is Occurred:
[Errno 2] No such file or directory: 'f122'
Try first with file_open() method with 'f122'

---

In [56]:
print(new3.file_append(''))

This error is occurred: [Errno 2] No such file or directory: ''
This error is occurred: local variable 'f' referenced before assignment
Try to write a file name in paranthesis..
None

In [60]:
a = new3.file_append('a1')

Enter a data which you want to append inside file a1:
Hey, This is new appended text..
Data is successfully written in file..!

In [65]:
a = a + 'Harshal'

In [66]:
print(a)

Data is :

Hey, This is new appended text..Harshal