# 13th March Live class
## String and List Manipulation
-----
## List
* List is a array kind of data structure in which we can store hetrogenius types of data in one variable.

In [1]:
# to create a blank list
# we can create a blank list in both way
l1 =[]
l2 = list()

In [2]:
type(l2)

list

In [3]:
name = 'Harshal'
phone = 12342133
addr = 'asdfasdfas'

name , phone, addr = 'Harshal',23432134,'adfasdfas'

# here we created a multiple variable to store a multiple values
# But I don't want to create a multiple variables

In [4]:
l = ['Harshal',2341234, True, 23+5j,[23,25,'sdfsd'],2.434]

In [5]:
print(len(l))
print(l)

6
['Harshal', 2341234, True, (23+5j), [23, 25, 'sdfsd'], 2.434]

In [6]:
# we can do string operation on list as well
# its range traversal operation
l[8:3:-1]

[2.434, [23, 25, 'sdfsd']]

In [7]:
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

* **Below is the program for a task in which I want to check their is another list is present in list l, and if it present, then check weather int in that list or not if int is present, then do addition of that int and print it**

In [8]:
for i in l:
    if type(i)== list:
        print('Another list is present in this list')
        n = 0
        for j in i:
            if type(j) == int:
                n = n + j
        print(f'Addition is: {n}')
        print(type(j))

Another list is present in this list
Addition is: 48
<class 'str'>

In [9]:
# we can store a range in list as well
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
 s1 = '''This is my first class for full stack data science
that's why i have joined this class'''

In [11]:
s1

"This is my first class for full stack data science\nthat's why i have joined this class"

In [12]:
# this used to find the length of data in variable
len(s1)

86

In [13]:
# this is how we can reverse a string
s1[::-1]

"ssalc siht denioj evah i yhw s'taht\necneics atad kcats lluf rof ssalc tsrif ym si sihT"

In [14]:
# this will gives the output as including upper bound(4) and exluding lower bound(10)
s1[5:10]
# it will be start printing from [4] and end at printing [9]

'is my'

In [15]:
s = 'This is full stack class'

In [16]:
for i in range(len(s)):
    print(s[i])

T
h
i
s

i
s

f
u
l
l

s
t
a
c
k

c
l
a
s
s

---
### Concept of mutablity and immutablity

In [17]:
# if u want to change value of s[0] with 'x'
# s[0] = 'x'
print('''We can't do it in this way, it will give you an error
TypeError: 'str' object does not support item assignment
"String is Immutable object"''')

We can't do it in this way, it will give you an error
TypeError: 'str' object does not support item assignment
"String is Immutable object"

In [18]:
l = ['xyz',234,56,23,True]

In [19]:
print('''if we want to do same thing with list Then it work totally fine..!
"Because List is mutable object"''')
l[0] = 'Harsh'
l

if we want to do same thing with list Then it work totally fine..!
"Because List is mutable object"

['Harsh', 234, 56, 23, True]

---

In [20]:
s

'This is full stack class'

In [21]:
# This method help to find perticular character or set of characters in string
# if substring is found, it will give you the first occurence of that character or substring
# if substring is not found, it will return -1
s.find('stack')

13

### Quick quiz
* s = "my name is "
* you have to extract index each character present in substring 'name' inside the data present in s.

In [22]:
s = "my name is xyz"
a = s.find('name')
for i in range(len('name')):
    print(a+i)

3
4
5
6

In [23]:
# this will gives you the occurences of "m" in string
s.count('m')

2

In [24]:
# it split the data using a character given by user and creates a list
# by default it will split using white space
s.split()

['my', 'name', 'is', 'xyz']

In [25]:
# Return a copy of the string converted to uppercase.
s.upper()

'MY NAME IS XYZ'

In [26]:
# Return a copy of the string converted to uppercase.
s.lower()

'my name is xyz'

In [27]:
s = 'My Name Is Harshal'
# Convert uppercase characters to lowercase and lowercase characters to uppercase.
s.swapcase()

'mY nAME iS hARSHAL'

In [28]:
# it joins anything which mentioned in quotes.
'_'.join(s)

'M_y_ _N_a_m_e_ _I_s_ _H_a_r_s_h_a_l'

In [29]:
# Return a reverse iterator over the values of the given sequence.
for i in reversed(s):
    print(i)

l
a
h
s
r
a
H

s
I

e
m
a
N

y
M

In [30]:
for i in range(len(s)):
    print(s[-i-1])

l
a
h
s
r
a
H

s
I

e
m
a
N

y
M

In [31]:
# Return a copy of the string with leading and trailing whitespace removed.
a = '   asdf asd dd asdfasdasd asdfasdf    '
a.strip()

'asdf asd dd asdfasdasd asdfasdf'

In [32]:
a = 'greeting from harshal'

In [33]:
# Return a copy with all occurrences of substring old replaced by new.
a.replace("harshal",'dipali')

'greeting from dipali'

In [34]:
a

'greeting from harshal'

In [35]:
# Return a centered string of length width.
s.center(60,'=')

'=====================My Name Is Harshal====================='

In [36]:
# Return a copy where all tab characters are expanded using spaces.
s1 = 'My \t Name \t Is \t Harshal'
s1.expandtabs()

'My       Name    Is      Harshal'

---
### Quick Quiz
**a = "We All Are A Part of Full Stack"**
1. normalize all the string in lower case
2. Find number of all occurences of 'a' in entire data
3. Find all the index of 'a'
4. replace all the "a" with "ineuron"
5. print all the word as a list

In [37]:
a = "We All Are A Part of Full Stack data science"

# 1st task = 'normalize all the string in lower case'
a = a.lower()
print(a)

# 2nd task = 'Find number of all occurrences of 'a' in entire data
print(f"\nOccurences of 'a': {a.count('a')}")

# 3rd task = 'Find all the index of "a" in data'
index = []
for i in range(len(a)):
    if a[i] == 'a':
        index.append(i)
        
print("\nLocation of 'a' in data:",index)
        
# 4th task = 'replace all the "a" with "iNeuron"'
s = a.replace('a','ineuron')
print("\nString after replacing 'a' with 'iNeuron':\n",s)

# 5th task = 'print all the word as list'
l = s.split()
print('\nlist of all words in data:\n',l)

we all are a part of full stack data science

Occurences of 'a': 7

Location of 'a' in data: [3, 7, 11, 14, 28, 33, 35]

String after replacing 'a' with 'iNeuron':
 we ineuronll ineuronre ineuron pineuronrt of full stineuronck dineurontineuron science

list of all words in data:
 ['we', 'ineuronll', 'ineuronre', 'ineuron', 'pineuronrt', 'of', 'full', 'stineuronck', 'dineurontineuron', 'science']

---

In [38]:
# Return True if the string is an uppercase string, False otherwise.
s='HARSHAL'
s.isupper()

True

In [39]:
# Return True if the string is a lowercase string, False otherwise.
s.islower()

False

In [40]:
# Return True if the string is a whitespace string, False otherwise
s = '        '
s.isspace()

True

In [41]:
# Return True if S ends with the specified suffix, False otherwise.
print(a.endswith('e'))

# Return True if S starts with the specified prefix, False otherwise.
print(a.startswith('w'))

True
True

In [42]:
print(a)
len(a)

we all are a part of full stack data science

44

In [43]:
# write a program for count the no of data in 's' without using len() function

count = 0
for i in a:
    count = count+1
print(count)

44

In [44]:
# string reverse using for loop
a = 'harshal'

for i in range(len(a)):
    print(a[-i-1])

l
a
h
s
r
a
h

In [45]:
# string reverse using while loop
i = len(a) -1
while i>= 0:
    print(a[i])
    i = i -1

l
a
h
s
r
a
h

In [46]:
name = 'ineuron'
vovels = 'AaEeIiOoUu'

for i in name:
    if i in vovels :
        print(f"'{i}' is vovel")
    else:
        print(f"'{i}' is not vovel")

'i' is vovel
'n' is not vovel
'e' is vovel
'u' is vovel
'r' is not vovel
'o' is vovel
'n' is not vovel

In [47]:
name = input('Enter a name:')
name = name.upper()

if name[::-1] == name[::1]:
    print(f"String '{name}' is palindrome..")
else:
    print(f"String '{name}' is not palindrome..!")

Enter a name:nitin
String 'NITIN' is palindrome..

# 14th March Live class
## List Manipulation and Tuples
---

In [48]:
l = ['Harsh', 23,5,32,[56,73]]

In [49]:
l[4]

[56, 73]

In [50]:
l[0:3]

['Harsh', 23, 5]

In [51]:
l[3:0:-1]

[32, 5, 23]

In [52]:
l[::-1]

[[56, 73], 32, 5, 23, 'Harsh']

In [53]:
s = 'harshal'
s = list(s)
s

['h', 'a', 'r', 's', 'h', 'a', 'l']

In [54]:
s = ['harshal']

In [55]:
l + s

['Harsh', 23, 5, 32, [56, 73], 'harshal']

In [56]:
l*2

['Harsh', 23, 5, 32, [56, 73], 'Harsh', 23, 5, 32, [56, 73]]

In [57]:
23 in l

True

In [58]:
for i in l:
    print(i)

Harsh
23
5
32
[56, 73]

In [59]:
max(i)

73

In [60]:
max(['harsh','ok','233'])

'ok'

In [61]:
max([234,345,65,23])

345

In [62]:
l = [2,4,5,1]

In [63]:
# Append object to the end of the list.
l.append("harsh")

In [64]:
l

[2, 4, 5, 1, 'harsh']

In [65]:
# Extend list by appending elements from the iterable.
l.extend('hey')

In [66]:
l

[2, 4, 5, 1, 'harsh', 'h', 'e', 'y']

In [67]:
# l.extend(23)
# it will give an error
# TypeError: 'int' object is not iterable

In [68]:
l.extend([23,43])
print(l)

[2, 4, 5, 1, 'harsh', 'h', 'e', 'y', 23, 43]

In [69]:
# Insert object before index. count
l.insert(0,'hey')

In [70]:
l

['hey', 2, 4, 5, 1, 'harsh', 'h', 'e', 'y', 23, 43]

In [71]:
# Return number of occurrences of value.
l.count('h')

1

In [72]:
l

['hey', 2, 4, 5, 1, 'harsh', 'h', 'e', 'y', 23, 43]

In [73]:
# Return first index of value.
l.index('e')

7

In [74]:
# Remove and return item at index (default last).
l.pop()

43

In [75]:
l

['hey', 2, 4, 5, 1, 'harsh', 'h', 'e', 'y', 23]

In [76]:
# Remove first occurrence of value.
l.remove('hey')

In [77]:
l

[2, 4, 5, 1, 'harsh', 'h', 'e', 'y', 23]

In [78]:
# Reverse *IN PLACE*. It reverse list permently
l.reverse()

In [79]:
l

[23, 'y', 'e', 'h', 'harsh', 1, 5, 4, 2]

In [80]:
l1 = [123,3,56,1,234,3.46,234.333]
l1.sort()

In [81]:
l1

[1, 3, 3.46, 56, 123, 234, 234.333]

---
### Quick Quiz
**l = [[],[],[]]**
1. Append 2 more list one complex number in this list in between a existing list.
2. if your nested list contain string then find and its index in nested list and print it. Then remove the string
3. You have to extract 2nd element of each nested list

In [82]:
l1 = [[1,2,3],[4,5,6],[7,8,9],'demo',12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]
print(f"Default list is: {l1}\n")

# task 1
l1.insert(1,l2)
l1. insert(3,l3)
l1.insert(4,21+7j)
print(f"list after task 1: {l1}\n")

# task 2
for i in l1:
    if type(i) == list:
        j = 0
        while j < len(i):
            if type(i[j]) is str:
                print(f"Index of string {i[j]} is :{j}")
            j = j + 1
        j = 0
        while j < len(i):
            if type(i[j]) is str:
                print(f"The string in the nested list is: {i[j]}")
                i.remove(i[j])
                continue
            j = j +1
print(f"\nlist after task 2: {l1}\n")

# task 3
for i in l1:
    if type(i) == list:
        print(f"2nd element of list {i} is: {i[1]}")

Default list is: [[1, 2, 3], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

list after task 1: [[1, 2, 3], [11, 12, 'b', 'b', 'b'], [4, 5, 6], [21, 't', 223], (21+7j), [7, 8, 9], 'demo', 12.5]

Index of string b is :2
Index of string b is :3
Index of string b is :4
The string in the nested list is: b
The string in the nested list is: b
The string in the nested list is: b
Index of string t is :1
The string in the nested list is: t

list after task 2: [[1, 2, 3], [11, 12], [4, 5, 6], [21, 223], (21+7j), [7, 8, 9], 'demo', 12.5]

2nd element of list [1, 2, 3] is: 2
2nd element of list [11, 12] is: 12
2nd element of list [4, 5, 6] is: 5
2nd element of list [21, 223] is: 223
2nd element of list [7, 8, 9] is: 8

---

In [83]:
n = int(input("Enter a number:"))
l = []
for i in range(n):
    l.append(input(f"Enter a element {i+1}: "))

print(f"\nThis is your list: {l}")

Enter a number:2
Enter a element 1: 12
Enter a element 2: 43

This is your list: ['12', '43']

### List comprehension

In [84]:
l1=[]
for i in 'Harsh':
    l1.append(i)
 
l1

['H', 'a', 'r', 's', 'h']

In [85]:
# we can write above code using list comprehension
[i for i in "Harshal"]

['H', 'a', 'r', 's', 'h', 'a', 'l']

In [86]:
[i for i in range(10) if i%2==0]

[0, 2, 4, 6, 8]

In [87]:
l=[]
for i in range(12):
    if i%2 == 0:
        l.append(i)

In [88]:
l

[0, 2, 4, 6, 8, 10]

In [89]:
l = []
for i in range(10):
    if i%2 != 0:
        l.append(f'{i} Odd')
    else:
        l.append(f"{i} Even")
        
print(l)

['0 Even', '1 Odd', '2 Even', '3 Odd', '4 Even', '5 Odd', '6 Even', '7 Odd', '8 Even', '9 Odd']

In [90]:
# we have to write output of if condition in left hand side
# and output of else in right hand side
[f'{i} odd' if i %2 !=0 else f"{i} even" for i in range(8)]

['0 even', '1 odd', '2 even', '3 odd', '4 even', '5 odd', '6 even', '7 odd']

In [91]:
mat=[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)

mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [92]:
[[j for j in range(3)] for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [93]:
# nested condition
# we can do this for checking both conditions
# we cant use elif here
[i for i in range(20) if i%2==0 if i%3==0]

[0, 6, 12, 18]

In [94]:
l=[]
for i in range(20):
    if i%2==0:
        if i%3==0:
            l.append(i)
            
l

[0, 6, 12, 18]

In [95]:
l =[i for i in range(10)]

In [96]:
['yes' if i==1 else 'no' if i==2 else 'test' for i in l]

['test', 'yes', 'no', 'test', 'test', 'test', 'test', 'test', 'test', 'test']

In [97]:
res=[]
for i in l:
    if i==1:
        res.append('YES')
    elif i == 2:
        res.append('NO')
    else:
        res.append('TEST')
        
res

['TEST', 'YES', 'NO', 'TEST', 'TEST', 'TEST', 'TEST', 'TEST', 'TEST', 'TEST']

In [98]:
# [i if i<=1 else 'regular' if %i==0 else 'prime' for i in l]

In [99]:
# prime numbers using list comprehension
[i for i in range(2,32) if all(i%j !=0 for y in range(2,i))]

[2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31]

- - -
# 20th March Live Class
### Tuple, Set and Dict

In [100]:
t=()
type(t)

tuple

In [101]:
l=[]
type(l)

list

In [102]:
t = (232,45,'harsh',3.45,True)

In [103]:
l = [232,45,'harsh',3.45,True]

In [104]:
# tuples slicing is similler as list slicing
print(t[1])
print(l[0])

45
232

In [105]:
t[0:3]

(232, 45, 'harsh')

In [106]:
t[::-1]

(True, 3.45, 'harsh', 45, 232)

In [107]:
# if we want to assign any value to the perticular index of list
# then it can be possible
l[0] = 'Python'
l

['Python', 45, 'harsh', 3.45, True]

In [108]:
'''if we want to assign any value to the perticular index of tuple
# then it can not be possible'''
# t[2] = 'Python'
'''it will give you and Type Error
# TypeError: 'tuple' object does not support item assignment'''

"it will give you and Type Error\n# TypeError: 'tuple' object does not support item assignment"

In [109]:
t1 =(68,49,13)

In [110]:
t+t1

(232, 45, 'harsh', 3.45, True, 68, 49, 13)

In [111]:
t1*2

(68, 49, 13, 68, 49, 13)

In [112]:
12 in t1

False

In [113]:
max(t1)

68

In [114]:
t2 = ('Harsh','Dipali','Siddhi','Neha')
max(t2)

'Siddhi'

In [115]:
# it gives index of and element
t1.index(13)

2

In [116]:
# it will gives number of occurence of element
t1.count(13)

1

In [117]:
# we can type cast tuple into list
l1=list(t)

In [118]:
# we can directly assign any value to the perticular index in list
l1[2] = 'Hello'
l1
# but we can't assign any value to perticular index in tuple
# it will gives you type error
# TypeError: 'tuple' object does not support item assignment
# t1[2] ='Hey'
# t1

[232, 45, 'Hello', 3.45, True]

In [119]:
# we can't append an element directly in tuple

# we have to do is create another tuple and add it
t4=(23,34)
t1+t4

(68, 49, 13, 23, 34)

In [120]:
# we can create nested tuple also.
# also we can add list in tuple
t=(23,43,923,(234,'asdfd',True),[False,92,'harshal'],25,)
t

(23, 43, 923, (234, 'asdfd', True), [False, 92, 'harshal'], 25)

In [121]:
# if we want to extract list from tuple, we can try this way
t[4][0:2]

[False, 92]

In [122]:
# we can try that in another way also
for i in t:
    if type(i) is list:
        print(i[0:2])

[False, 92]

In [123]:
l1 = list(t)
l1

[23, 43, 923, (234, 'asdfd', True), [False, 92, 'harshal'], 25]

In [124]:
# same thing we can perfor with list also
l1[4][0:2]

[False, 92]

In [125]:
t=(23,43,923,(234,'asdfd',True),(23,34,45),(25,45),[False,92,'harshal'],25,)

for i in t:
    if type(i) == tuple:
        print(i[0])

234
23
25

In [126]:
t1*2

(68, 49, 13, 68, 49, 13)

In [127]:
t2

('Harsh', 'Dipali', 'Siddhi', 'Neha')

In [128]:
'''Problem statement is, check two tuples are similler or not, if they are same
then check elements in bot are similler or not.. if elements are same, print, element are same, else not same'''

t1=(12,34,44,56,12)
t=(34,12,45,56,12)

# t = sorted(t)
if len(t1) == len(t):
    print("length of tuples are same..")
    for i in t1:
        if i in t:
            print("Elements are same:",i)
        else:
            print("Elements are not same..!",i)
else:
    print("length of tuples are not same..")

length of tuples are same..
Elements are same: 12
Elements are same: 34
Elements are not same..! 44
Elements are same: 56
Elements are same: 12

In [129]:
# we can delete tuple using del() function
print("This is tuple t:",t)
del(t)
print("t is not found")

This is tuple t: (34, 12, 45, 56, 12)
t is not found

---
# SET
* **SET is a type of collection which holds distinct set of elements**
* SET's are case sensetive
* SET not gives you ordered collection, it says that, _**"Build an unordered collection of unique elements."**_
* We can't perform indexing operation on SET

In [130]:
x = set()
type(x)

set

In [131]:
l = [23,54,121,54,65,12,23,98,45,67]
l

[23, 54, 121, 54, 65, 12, 23, 98, 45, 67]

In [132]:
x = set(l)
x

{12, 23, 45, 54, 65, 67, 98, 121}

In [133]:
x.add('harshal')

In [134]:
x.add("Harshal")

In [135]:
# set is unorderd collection of distinct elements
x

{12, 121, 23, 45, 54, 65, 67, 98, 'Harshal', 'harshal'}

In [136]:
print('''we cant perform indexing operation, it will gives an error called 
TypeError: 'set' object is not subscriptable
''')
# x[2]

we cant perform indexing operation, it will gives an error called
TypeError: 'set' object is not subscriptable

In [137]:
12 in x

True

In [138]:
print("we cant add nested list, it will gives you error")
# x.add([23,45,23])

we cant add nested list, it will gives you error

In [139]:
print('We cant add same element in set')
print(x)
x.add(12)
x.add(1211)
print(x)

We cant add same element in set
{65, 98, 67, 12, 45, 'Harshal', 'harshal', 54, 23, 121}
{65, 98, 67, 12, 45, 'Harshal', 'harshal', 54, 23, 121, 1211}

In [140]:
x.remove(67)
print(x)

{65, 98, 12, 45, 'Harshal', 'harshal', 54, 23, 121, 1211}

In [141]:
s = x

In [142]:
x.clear()
print(x)

set()

In [143]:
s = set(l)

In [146]:
# s*2
print('''we can perform multiplication on overall SET like an list and tuple.. 
it will be give an error:
TypeError: unsupported operand type(s) for *: 'set' and 'int'
''')

we can perform multiplication on overall SET like an list and tuple..
it will be give an error:
TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [148]:
s1 = {'ew',34,43,23,21,12,21}

In [149]:
print('''we can not add 2 different sets using "+" operator,
we can do that same thing in list & tuple, but can not do with dict and set..
this will give an error 
"TypeError: unsupported operand type(s) for +: 'set' and 'set'"''')

# s= s+s1

we can not add 2 different sets using "+" operator,
we can do that same thing in list & tuple, but can not do with dict and set..
this will give an error
"TypeError: unsupported operand type(s) for +: 'set' and 'set'"

---
# Dict : Dictionary
* Dict always try to store the values in terms of key:value pair, if we try to store data in flatern form, it will store it as SET.
* Key must be unique, if you used same name as key, it will be show you 2nd key:value pair
* Dict is case sensetive
* Special characters (!,@,#,$,%,^,&,*,~) are not allowed as key, we can use them in values
* we can create nested dict as well.
* you can use tuple as Key, but you can't use list as key.. (it gives and error: **TypeError: unhashable type: 'list'**)

In [150]:
x = {}
type(x)

dict

In [151]:
x1 = {23,34} # this is the flatern form of data
type(x)

dict

In [170]:
x = {"name":'HARSHAL', "age":25}

In [153]:
x1 = {'name':'HARSHAL', "age":25,True:{12,34,256},'key':False,234:(23,56,12),23:"it's a number",'a':{'er':'12asfd',23:[2,5,1,4]},'_asdf':[23,45,56,12]}

In [154]:
x1

{'name': 'HARSHAL',
 'age': 25,
 True: {12, 34, 256},
 'key': False,
 234: (23, 56, 12),
 23: "it's a number",
 'a': {'er': '12asfd', 23: [2, 5, 1, 4]},
 '_asdf': [23, 45, 56, 12]}

In [155]:
# how to extract data from dictionary
# you can simply put key name in bracket and it will gives you value
x1['name']

'HARSHAL'

In [156]:
# but what if we need to extract nested data?
# we can simply access like this
x1['a']['er']

'12asfd'

In [157]:
x1['_asdf'][2]

56

In [158]:
# we want a string revese in a nested value of dictionary
# we can try this
print(x1['a']['er'][::-1])
print(x1['a'][23][::-1])

dfsa21
[4, 1, 5, 2]

In [159]:
type(x1['a'][23][::-1])

list

In [160]:
x2={2:'adf','h2':[23,True,'sadf']}

In [161]:
# x=x+x2
print('''we can not add 2 different sets using "+" operator,
we can do that same thing in list & tuple, but can not do with dict and set..
this will give an error 
"TypeError: unsupported operand type(s) for +: 'set' and 'set'"''')

we can not add 2 different sets using "+" operator,
we can do that same thing in list & tuple, but can not do with dict and set..
this will give an error
"TypeError: unsupported operand type(s) for +: 'set' and 'set'"

In [165]:
# x*2
print('''we can perform multiplication on overall Dict like an list and tuple.. 
it will be give an error:
TypeError: unsupported operand type(s) for *: 'dict' and 'int'
''')

we can perform multiplication on overall Dict like an list and tuple..
it will be give an error:
TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [171]:
# can we re-assign the value of dict?
print('Before reassignment:',x)
x['name'] = 'Dhiraj'
print('After reassignment:',x)

Before reassignment: {'name': 'HARSHAL', 'age': 25}
After reassignment: {'name': 'Dhiraj', 'age': 25}

In [172]:
# if we want to perform any operation on perticular numerical value
# then we can try this
x['age']-=10
print(x)

{'name': 'Dhiraj', 'age': 15}

In [178]:
'key' in x1.keys()

True

In [182]:
# if we want to print all the keys one by one we can try this using for loop
print(x1.keys())

for i in x1:
    print(i)

dict_keys(['name', 'age', True, 'key', 234, 23, 'a', '_asdf'])
name
age
True
key
234
23
a
_asdf

In [185]:
# if we want to print all the values one by one, we can try that using for loop
# print(x1.values())

for i in x1.keys():
    print(x1[i])

dict_values(['HARSHAL', 25, {256, 34, 12}, False, (23, 56, 12), "it's a number", {'er': '12asfd', 23: [2, 5, 1, 4]}, [23, 45, 56, 12]])
HARSHAL
25
{256, 34, 12}
False
(23, 56, 12)
it's a number
{'er': '12asfd', 23: [2, 5, 1, 4]}
[23, 45, 56, 12]

In [187]:
# if i want to know data type of values inside dict x1, then in can try this
for i in x1.keys():
    print(type(x1[i]))

<class 'str'>
<class 'int'>
<class 'set'>
<class 'bool'>
<class 'tuple'>
<class 'str'>
<class 'dict'>
<class 'list'>

In [191]:
x.items()

dict_items([('name', 'Dhiraj'), ('age', 15)])

---
## Quick quiz
**Take input as a paragraph using input function.**
1. Convert all of this input into list of words
2. Remove all the duplicate element from your list
3. Use above distinct element as a key for dictionary and assign your name as a value of all the key for dictionary
4. try to print tuple of all the values
5. Try to print list of all keys

In [1]:
p = input('Enter a paragraph:')

Enter a paragraph:ELEKTRAHTHORGV SILVERAORWTNSH AUAUAWREHSINUP HNERKCTNWHAMRR AFTEHSIITMASFA ICYMILDRRNCAEA IEIMAOIEEAERRL WWYTWNDVRMGEIO INVIDIBLEGAGRO TDHSPAEOHDCNOP CIOSKTTZTGEAND HFKOKPRNNLKRMA EBWOMANPAEUTAE UOFALCONPFLSND

In [2]:
# This is a 1st type of solution
# Q1
l = p.split()
print('length of l',len(l))

# Q2
l1 = set(l)
print('length of l1',len(l1))

# Q3
l2 = {}
for i in l1:
    l2[i] = 'Harshal'


# Q4
l3 = tuple(l2.values())
print(l3)

# Q5
l4 = []
for i in l2.keys():
    l4.append(i)

print(l4)

length of l 14
length of l1 14
('Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal', 'Harshal')
['UOFALCONPFLSND', 'ELEKTRAHTHORGV', 'AUAUAWREHSINUP', 'INVIDIBLEGAGRO', 'CIOSKTTZTGEAND', 'TDHSPAEOHDCNOP', 'IEIMAOIEEAERRL', 'AFTEHSIITMASFA', 'ICYMILDRRNCAEA', 'HNERKCTNWHAMRR', 'SILVERAORWTNSH', 'EBWOMANPAEUTAE', 'WWYTWNDVRMGEIO', 'HFKOKPRNNLKRMA']

In [6]:
# this is 2nd type of solution

# list1 = p.split()
# set1 = set(list1)
# dict1=dict.fromkeys(set1, "harshal")
# tup1 = tuple(dict1.values())
# list2 = list(dict1.keys())

# print('Solution for Quick Quiz\n')
# print("Question 1:\n",list1)
# print("\nQuestion 2:\n",set1)
# print("\nQusetion 3:\n",dict1)
# print("\nQuestion 4:\n",tup1)
# print("\nQuestion 5:\n", list2)

AttributeError: 'list' object has no attribute 'split'

---
### Some another iteration in dictionary

In [227]:
d ={'company':'ineuron','course':'Full Stack Data Science', 'year':2021}

In [228]:
for i in d:
    print(f"key: {i} \t value: {d[i]}")

key: company 	 value: ineuron
key: course 	 value: Full Stack Data Science
key: year 	 value: 2021

In [229]:
'course' in d

True

In [231]:
for i in d:
    if i == 'year':
        if d[i] >= 2021:
            print('Year is fine')
        else:
            d[i] = 2022
            print("year is updated")
print(d)

Year is fine
{'company': 'ineuron', 'course': 'Full Stack Data Science', 'year': 2022}

In [232]:
for i in d:
    if i == 'course':
        if len(d[i]) > 8:
            print('Data is:',d[i].split())
        else:
            print("data is short")

Data is: ['Full', 'Stack', 'Data', 'Science']

---
### Dictionary comprehension
* we can do dict comprehension same as list comprehension

In [233]:
my_dict = {}
for i in range(10):
    my_dict[i] = i*i

In [234]:
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [235]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}