# Python practice notebook

### for loop for accessing list items

In [1]:
l = ['Harshal', 143,'Dipali',True,23+3j,[2,34,4,2,'python'],2.3434]

In [2]:
list(range(19))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [3]:
# for printing the type of items in list
for i in l:
    print(type(i))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'bool'>
<class 'complex'>
<class 'list'>
<class 'float'>

In [4]:
# for accessing the list in list 'l'
for i in l:
    if type(i)== list:
        n = 0
        for j in i:
            if type(j) == int:
                n = n+j
        print(n)
        print(type(j))

42
<class 'str'>

In [5]:
letter='''Hello <|name|>,
\t You are selected in our company as a Manager...
Your Joining date is <|date|>
Thank you, regards'''

name=["Harshal","Yogesh",'Tejas',"Ankush"]
date=["2-JUNE-2021","14-JULY-2021",'12-JUNE-2021','3-AUG-2021']

for i in name:
    letter1 = letter.replace('<|name|>',i)
    for j in date:
        letter2 = letter1.replace('<|date|>',j)
    
    print('\n', letter2)

 Hello Harshal,
	 You are selected in our company as a Manager...
Your Joining date is 3-AUG-2021
Thank you, regards

 Hello Yogesh,
	 You are selected in our company as a Manager...
Your Joining date is 3-AUG-2021
Thank you, regards

 Hello Tejas,
	 You are selected in our company as a Manager...
Your Joining date is 3-AUG-2021
Thank you, regards

 Hello Ankush,
	 You are selected in our company as a Manager...
Your Joining date is 3-AUG-2021
Thank you, regards

In [6]:
for i in name:
    letter1 = letter.replace('<|name|>',i)

In [7]:
for j in date:
    letter2 = letter1.replace('<|date|>',j)

In [8]:
 print('\n', letter2)

 Hello Ankush,
	 You are selected in our company as a Manager...
Your Joining date is 3-AUG-2021
Thank you, regards

### List manupulation functions

In [9]:
l= ['Harshal',2334,13.34,True,[23,323]]

In [10]:
l[0]

'Harshal'

In [11]:
l[::-1]

[[23, 323], True, 13.34, 2334, 'Harshal']

In [12]:
h = 'Harsh'
h = list(h)
l+h

['Harshal', 2334, 13.34, True, [23, 323], 'H', 'a', 'r', 's', 'h']

In [13]:
h = ['Harsh']
h = list(h)
l+h

['Harshal', 2334, 13.34, True, [23, 323], 'Harsh']

In [14]:
"Harsh" in l

False

In [15]:
l*2

['Harshal',
 2334,
 13.34,
 True,
 [23, 323],
 'Harshal',
 2334,
 13.34,
 True,
 [23, 323]]

In [16]:
s = 'This is a full stack batch'
for i in range(len(s)):
    print(s[-i-1])

h
c
t
a
b

k
c
a
t
s

l
l
u
f

a

s
i

s
i
h
T

In [17]:
l = ['Harshal',234, 45.32, [23,45,56,'f'],True,534,123,'shinde']

In [18]:
len(l)

8

In [19]:
for i in l:
    if type(i)==list:
        print("Another List is avaliable...",i)
    else:
        print(i)

Harshal
234
45.32
Another List is avaliable... [23, 45, 56, 'f']
True
534
123
shinde

In [20]:
l =[1,3,4,2]

In [21]:
l.append("Harsh")

In [22]:
l

[1, 3, 4, 2, 'Harsh']

In [23]:
l.extend('Test1')

In [24]:
l

[1, 3, 4, 2, 'Harsh', 'T', 'e', 's', 't', '1']

In [25]:
l.insert(0,"Data Science")

In [26]:
l

['Data Science', 1, 3, 4, 2, 'Harsh', 'T', 'e', 's', 't', '1']

In [27]:
l.count(1)

1

In [28]:
l = [1,3,4,5]

In [29]:
l.append('Harshal')
l

[1, 3, 4, 5, 'Harshal']

In [30]:
l.append(1)
l

[1, 3, 4, 5, 'Harshal', 1]

In [31]:
l.extend([1,4,6,7,2])

In [32]:
l

[1, 3, 4, 5, 'Harshal', 1, 1, 4, 6, 7, 2]

In [33]:
s = 'test'
list(s)

['t', 'e', 's', 't']

In [34]:
l

[1, 3, 4, 5, 'Harshal', 1, 1, 4, 6, 7, 2]

In [35]:
for i in l:
    if i == 1:
        print(l.index(i)+i)
    else:
        print("Logical error")

1
Logical error
Logical error
Logical error
Logical error
1
1
Logical error
Logical error
Logical error
Logical error

In [36]:
l.count(1)

3

In [37]:
l.pop(4)
l

[1, 3, 4, 5, 1, 1, 4, 6, 7, 2]

In [38]:
l.remove(1)

In [39]:
l

[3, 4, 5, 1, 1, 4, 6, 7, 2]

In [40]:
l.reverse()
l

[2, 7, 6, 4, 1, 1, 5, 4, 3]

In [41]:
l.sort()
l

[1, 1, 2, 3, 4, 4, 5, 6, 7]

### Quick Quiz
**l = [[],[],[]]**
1. Append 2 more list one complex number in this list in between a existing list.
2. if your nested list contain string then find and its index in nested list and print it. Then remove the string
3. You have to extract 2nd element of each nested list

In [42]:
l1 = [[1,2,3],[4,5,6],[7,8,9],'demo',12.5]
l2 = [11,12,'b','b','b']
l3 = [21,'t',223]

l1.insert(1,l2)
l1.insert(2,l3)
l1

[[1, 2, 3],
 [11, 12, 'b', 'b', 'b'],
 [21, 't', 223],
 [4, 5, 6],
 [7, 8, 9],
 'demo',
 12.5]

In [44]:
for i in l1:
    if type(i) == list:
        j = 0
        while j < len(i):
            if type(i[j]) is str:
                print(f"Index of string {i[j]} is :{j}")
            j = j + 1
        j = 0
        while j < len(i):
            if type(i[j]) is str:
                print(f"The string in the nested list is {i[j]}")
                i.remove(i[j])
                continue
            j = j +1
print(l1)

Index of string b is :2
Index of string b is :3
Index of string b is :4
The string in the nested list is b
The string in the nested list is b
The string in the nested list is b
Index of string t is :1
The string in the nested list is t
[[1, 2, 3], [11, 12], [21, 223], [4, 5, 6], [7, 8, 9], 'demo', 12.5]

## List comprehension

In [45]:
l1 = []
for i in "Harshal":
    l1.append(i)

In [46]:
l1

['H', 'a', 'r', 's', 'h', 'a', 'l']

In [47]:
# we can write above code using list comprehension
[i for i in "Harshal"]

['H', 'a', 'r', 's', 'h', 'a', 'l']

In [48]:
[[i] for i in 'Harshal']

[['H'], ['a'], ['r'], ['s'], ['h'], ['a'], ['l']]

In [49]:
l = []
for i in range(20+1):
    if i%2 ==0:
        l.append(i)

In [50]:
l

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [51]:
[i for i in range(20) if i%2 ==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [52]:
l1 = []
for i in range(11):
    if i%2 !=0:
        l1.append(f"Odd {i}")
    else:
        l1.append(f"Even {i}")
        
print(l1)

['Even 0', 'Odd 1', 'Even 2', 'Odd 3', 'Even 4', 'Odd 5', 'Even 6', 'Odd 7', 'Even 8', 'Odd 9', 'Even 10']

In [53]:
['odd' if i%2 !=0 else 'even' for i in range(10)]

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [54]:
mat =[]
for i in range(3):
    mat.append([])
    for j in range(3):
        mat[i].append(j)
mat

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [55]:
[[j for j in range(3)]for i in range(3)]

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]

In [56]:
[i for i in range(8) if i%2 ==0 if i%3 ==0]

[0, 6]

In [57]:
l=[i for i in range(10)]
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [58]:
['Yes' if i==2 else 'no' if i == 5 else 'test' for i in l]

['test', 'test', 'Yes', 'test', 'test', 'no', 'test', 'test', 'test', 'test']

In [59]:
l1=[]
for i in l:
    if i ==2:
        l1.append('yes')
    elif i == 5:
        l1.append('no')
    else:
        l1.append('test')
print(l1)

['test', 'test', 'yes', 'test', 'test', 'no', 'test', 'test', 'test', 'test']

In [60]:
for i in range(10):
    if i%2==0 and i%3==0:
        print("First conditon")
    if i%2==0:
        print("asdfas")

First conditon
asdfas
asdfas
asdfas
First conditon
asdfas
asdfas

In [61]:
l = [1,3,5,2,4,7,2,8,9,10]

In [62]:
print(sum(l))

51

In [63]:
sum_list = 0
for i in l:
    sum_list =sum_list+(i)

In [64]:
sum_list

51

# Tuple, Set and Dict
## 20th March

In [65]:
t = ()
type(t)

tuple

In [66]:
t1 = (123,34,'Harsh',4.53,True,34,34,34)

In [67]:
t1[::-1]

(34, 34, 34, True, 4.53, 'Harsh', 34, 123)

In [68]:
l1 = [12,34,'Harsh',4.53,True]

In [69]:
l1[0] = 'Dippi'

In [70]:
l1

['Dippi', 34, 'Harsh', 4.53, True]

In [71]:
# tuples are immutable
# t1[0] = 'harsh'

In [72]:
t2 = (23, 24, 45,34,54,65,34,True)

In [73]:
t1+t2

(123, 34, 'Harsh', 4.53, True, 34, 34, 34, 23, 24, 45, 34, 54, 65, 34, True)

In [74]:
t1

(123, 34, 'Harsh', 4.53, True, 34, 34, 34)

In [75]:
'Harsh' in t1

True

In [76]:
23 in t1

False

In [77]:
max(t2)

65

In [78]:
t3 = ('Harsh','Dipali','Siddhi','Neha')

In [79]:
max(t3)

'Siddhi'

In [80]:
t1.count(34)

4

In [81]:
t1.index('Harsh')

2

In [82]:
# converting list in tuple
type(t1)

tuple

In [83]:
l1 = list(t1)
l1

[123, 34, 'Harsh', 4.53, True, 34, 34, 34]

In [84]:
# inserting a element in list converted tuple
a = 23
l1.insert(2,a)

In [85]:
l1

[123, 34, 23, 'Harsh', 4.53, True, 34, 34, 34]

In [86]:
# trying to append tuple in another tuple
t4 = (78,97)
t1+t4

(123, 34, 'Harsh', 4.53, True, 34, 34, 34, 78, 97)

In [87]:
# now again converting list in back to tuple
tuple(l1)

(123, 34, 23, 'Harsh', 4.53, True, 34, 34, 34)

In [88]:
# we can also create nested tuple
t = ((3,4,5,6,7),('ssdfsdf',34,56),('harsh',24),51,3,4,[1,3,5,77])

In [89]:
t[6][1:4]

[3, 5, 77]

In [90]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('ssdfsdf', 34, 56)
('harsh', 24)
51
3
4
[1, 3, 5, 77]

In [91]:
for i in t:
    if type(i) == tuple:
        print(i[1])

4
34
24

In [92]:
t1

(123, 34, 'Harsh', 4.53, True, 34, 34, 34)

In [93]:
t2

(23, 24, 45, 34, 54, 65, 34, True)

In [94]:
if len(t1) == len(t2):
    print('Yes, length is same...')
    for j in range(len(t1)):
        if t1[j] != t2[j]:
              continue
        else:
             print(f'{t1[j]} is found in both tuples')
else:
    print('Length is not same')

Yes, length is same...
34 is found in both tuples

In [95]:
a = input("Enter a element: ")
if a in t1:
    print(f'{a} is avaliable inside tuple')
else:
    print(f'{a} is not avaliable in tuple')

Enter a element: Harshal
Harshal is not avaliable in tuple

In [96]:
t1

(123, 34, 'Harsh', 4.53, True, 34, 34, 34)

In [97]:
# to delete list use del() function
del(l1)

### Sets

In [98]:
l = [23,434,12,34]

In [99]:
t2

(23, 24, 45, 34, 54, 65, 34, True)

In [100]:
x = set()
type(x)

set

In [101]:
l = [34,45,45,45,45,67,34,56,78,'Harsh','Harsh','Shinde']

In [102]:
s=set(l)
s

{34, 45, 56, 67, 78, 'Harsh', 'Shinde'}

In [103]:
for i in s:
    print(i)

34
67
45
78
Shinde
Harsh
56

In [104]:
'Harsh' in s

True

In [105]:
# we cant perform slicing on set
# s[0]

In [106]:
s.add('Neha')

In [107]:
s.add(82)

In [108]:
s

{34, 45, 56, 67, 78, 82, 'Harsh', 'Neha', 'Shinde'}

In [109]:
# we cant add nested list in set
# s.add([23,34,45])

In [110]:
# for removing element from set
s.remove('Shinde')

In [111]:
s

{34, 45, 56, 67, 78, 82, 'Harsh', 'Neha'}

In [112]:
'Shinde' in s

False

In [113]:
s.add('xyz')

In [114]:
s.add(234)

In [115]:
s.add(345)

In [116]:
s.add('abc')

In [117]:
s

{234, 34, 345, 45, 56, 67, 78, 82, 'Harsh', 'Neha', 'abc', 'xyz'}

In [118]:
l1 = [234,54,345,1234,545656,234,1234,5345]

In [119]:
s1 = set(l1)

In [120]:
s1

{54, 234, 345, 1234, 5345, 545656}

In [121]:
# this kind of operation is not allowed in set, u can do that with list
# s + s1

In [122]:
tuple(s)

(34, 67, 'abc', 234, 45, 78, 82, 'Harsh', 'xyz', 56, 345, 'Neha')

In [123]:
set(s)

{234, 34, 345, 45, 56, 67, 78, 82, 'Harsh', 'Neha', 'abc', 'xyz'}

### Dictionary

In [124]:
x={}
type(x)

dict

In [125]:
x1 = {23,4}
type(x1)

set

In [126]:
x = {'name':'Harshal','age':25,'name1':'Neha',True:'2343','key':False,5341:23432}

In [127]:
x

{'name': 'Harshal',
 'age': 25,
 'name1': 'Neha',
 True: '2343',
 'key': False,
 5341: 23432}

In [128]:
# you can't add list and set inside a dictionary at a "Key"
#only tuple is allowed
# x2={[3,4,5,2]:'szdfdsa','sdf':[223,4,4512,234]} #this list is not allowed
# x2={{3,4,5,2}:'szdfdsa','sdf':[223,4,4512,234]} #set is not allowed

In [129]:
x2={(3,4,5,2):'szdfdsa','k4':{'l1':'error_msg','k8':[231,53,93]},'sdf':[223,4,4512,234]}

In [130]:
x2

{(3, 4, 5, 2): 'szdfdsa',
 'k4': {'l1': 'error_msg', 'k8': [231, 53, 93]},
 'sdf': [223, 4, 4512, 234]}

In [131]:
# this will help to fetch data using key
x2['sdf']

[223, 4, 4512, 234]

In [132]:
# if you want to access the element of a LIST in VALUE then try this
x2['sdf'][3]

234

In [133]:
# you can access nested data also using this
x2['k4']['k8'][1]

53

In [134]:
# following operation is not allowed using dictionary
# x2 + x
# x2 * 2

In [135]:
x1 = {5:'ver','k4':[23,34.4,12]}

In [136]:
# if i want to assign a data to particular value of key then
x1['k4'][1]="Harsh"

In [137]:
# you can perform addition or subtraction to any numerical value
x1['k4'][0] += 10

In [138]:
x1

{5: 'ver', 'k4': [33, 'Harsh', 12]}

In [139]:
x2.keys()

dict_keys([(3, 4, 5, 2), 'k4', 'sdf'])

In [140]:
'k4' in x1.keys()

True

In [141]:
for i in x2:
    print(i)

(3, 4, 5, 2)
k4
sdf

In [142]:
x2.items()

dict_items([((3, 4, 5, 2), 'szdfdsa'), ('k4', {'l1': 'error_msg', 'k8': [231, 53, 93]}), ('sdf', [223, 4, 4512, 234])])

In [143]:
for i in x2.items():
    print(i[0])

(3, 4, 5, 2)
k4
sdf

In [144]:
len(x2)

3

In [145]:
for i in x2.keys():
    print(type(x2[i]))

<class 'str'>
<class 'dict'>
<class 'list'>

In [146]:
x2

{(3, 4, 5, 2): 'szdfdsa',
 'k4': {'l1': 'error_msg', 'k8': [231, 53, 93]},
 'sdf': [223, 4, 4512, 234]}

In [147]:
a = {34:{23,56,34}}

In [148]:
list(a[34])[0]

56

### Quick quiz
**Take input as a paragraph using input function.**
1. Convert all of this input into list of words
2. Remove all the duplicate element from your list
3. Use above distinct element as a key for dictionary and assign your name as a value of all the key for dictionary
4. try to print tuple of all the values
5. Try to print list of all keys

In [149]:
'''It is the science and engineering of making intelligent machines, especially intelligent computer programs. It is related to the similar task of using computers to understand human intelligence, but AI does not have to confine itself to methods that are biologically observable.'''

'It is the science and engineering of making intelligent machines, especially intelligent computer programs. It is related to the similar task of using computers to understand human intelligence, but AI does not have to confine itself to methods that are biologically observable.'

In [150]:
p = input('''Enter a paragraph: ''')

Enter a paragraph: It is the science and engineering of making intelligent machines, especially intelligent computer programs. It is related to the similar task of using computers to understand human intelligence, but AI does not have to confine itself to methods that are biologically observable.

In [151]:
# This is a 1st type of solution
# # Q1
# l = p.split()
# print('length of l',len(l))

# # Q2
# l1 = set(l)
# print('length of l1',len(l1))

# # Q3
# l2 = {}
# for i in l1:
#     l2[i] = 'Harshal'


# # Q4
# l3 = []
# for i in l2.keys():
#     l3.append(l2[i])
# print(l3)

# # Q5
# l4 = []
# for i in l2.keys():
#     l4.append(i)

# print(l4)

In [152]:
# This is second type of solution
list1 = p.split()
set1 = set(list1)
dict1 = dict.fromkeys(list1,'Harshal Shinde')
tup1 = tuple(dict1.values())
list2 = list(dict1.keys())

In [153]:
print(list1)

['It', 'is', 'the', 'science', 'and', 'engineering', 'of', 'making', 'intelligent', 'machines,', 'especially', 'intelligent', 'computer', 'programs.', 'It', 'is', 'related', 'to', 'the', 'similar', 'task', 'of', 'using', 'computers', 'to', 'understand', 'human', 'intelligence,', 'but', 'AI', 'does', 'not', 'have', 'to', 'confine', 'itself', 'to', 'methods', 'that', 'are', 'biologically', 'observable.']

In [154]:
dict1

{'It': 'Harshal Shinde',
 'is': 'Harshal Shinde',
 'the': 'Harshal Shinde',
 'science': 'Harshal Shinde',
 'and': 'Harshal Shinde',
 'engineering': 'Harshal Shinde',
 'of': 'Harshal Shinde',
 'making': 'Harshal Shinde',
 'intelligent': 'Harshal Shinde',
 'machines,': 'Harshal Shinde',
 'especially': 'Harshal Shinde',
 'computer': 'Harshal Shinde',
 'programs.': 'Harshal Shinde',
 'related': 'Harshal Shinde',
 'to': 'Harshal Shinde',
 'similar': 'Harshal Shinde',
 'task': 'Harshal Shinde',
 'using': 'Harshal Shinde',
 'computers': 'Harshal Shinde',
 'understand': 'Harshal Shinde',
 'human': 'Harshal Shinde',
 'intelligence,': 'Harshal Shinde',
 'but': 'Harshal Shinde',
 'AI': 'Harshal Shinde',
 'does': 'Harshal Shinde',
 'not': 'Harshal Shinde',
 'have': 'Harshal Shinde',
 'confine': 'Harshal Shinde',
 'itself': 'Harshal Shinde',
 'methods': 'Harshal Shinde',
 'that': 'Harshal Shinde',
 'are': 'Harshal Shinde',
 'biologically': 'Harshal Shinde',
 'observable.': 'Harshal Shinde'}

In [155]:
list2

['It',
 'is',
 'the',
 'science',
 'and',
 'engineering',
 'of',
 'making',
 'intelligent',
 'machines,',
 'especially',
 'computer',
 'programs.',
 'related',
 'to',
 'similar',
 'task',
 'using',
 'computers',
 'understand',
 'human',
 'intelligence,',
 'but',
 'AI',
 'does',
 'not',
 'have',
 'confine',
 'itself',
 'methods',
 'that',
 'are',
 'biologically',
 'observable.']

# Some more Dictionary iterartions

In [156]:
d = {'company': 'ineuron','course':'full stack data science', 'year':2021}

In [157]:
for i in d :
    print(f"key: {i} \tvalue: {d[i]}")

key: company 	value: ineuron
key: course 	value: full stack data science
key: year 	value: 2021

In [158]:
'course' in d

True

In [159]:
for i in d:
    if i == 'year':
        if d[i]>2021:
            print('Year is fine')
        else:
            d[i] =2022

In [160]:
d

{'company': 'ineuron', 'course': 'full stack data science', 'year': 2022}

In [161]:
for i in d:
    if i == 'course':
        if len(d[i]) > 8:
            print('Data is:',d[i].split())
        else:
            print("data is short")

Data is: ['full', 'stack', 'data', 'science']

### Dictionary comprehension

In [162]:
# print a dictionary which contains a key as a number and value is its square
my_dict={}
for i in range(1,11):
    my_dict[i] = i *i

print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [163]:
# same operation is perform in a single line
{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}