# 28th Feb live Class
## Python Basics

In [1]:
print ("This is my first python program")

This is my first python program

In [2]:
print('''asdfa
asdfasdfsafa
asdfasdfasfasfas
asdfsadfasfdasfas''')

asdfa
asdfasdfsafa
asdfasdfasfasfas
asdfsadfasfdasfas

In [3]:
a = 392.1

In [4]:
print (f"Value of a is {a}")

Value of a is 392.1

In [5]:
print(f"type of a is {type(a)}")

type of a is <class 'float'>

In [6]:
b= '"Hellooooo"'
print(b)

"Hellooooo"

In [7]:
'JElloefasdfas'

'JElloefasdfas'

In [8]:
name = "Harshal"
userid = "Harsh234"
passwd = "harshanku"
mail = "harshalshinde438@gmail.com"

In [9]:
print(True + True + True + False + True)
print(False - True + True)

4
0

In [10]:
n = 34 - 6j

In [11]:
type(n)

complex

In [12]:
n.imag, n.real

(-6.0, 34.0)

In [13]:
str(1) + "Harsh"

'1Harsh'

In [14]:
" Harshal " * 5

' Harshal  Harshal  Harshal  Harshal  Harshal '

In [15]:
# a = int(input("Enter a name:"))

### Quick Quiz

In [16]:
# a = int(input("Enter a Number for a:"))
# b = int(input("Enter a Number for b:"))
# c = int(input("Enter a Number for c:"))

In [17]:
# o1 = a+b/c

In [18]:
# o2=o1 + 29 + 6j

In [19]:
# str(o2)+" Harshal"

## Decision Making statements

In [20]:
# a = int(input("input a number lesser than 34 > "))

In [21]:
# if a < 34 :
#     print("Great job")
# elif a == 34:
#     print("good job")
# else:
#     print("read condition again")

In [22]:
# salary = int(input("Enter your salary:"))
# if salary >= 1000:
#     print("I will buy a car..")
# elif salary >= 500:
#     print('I will go for bike..')
# else:
#     print('I will go for savings..')

#### Nested if else

In [23]:
# salary = int(input('Enter your salary:'))

# if salary >= 1000:
#     print('My salary is good...')
#     if salary < 5000:
#         print("I will go with maruti 800 ")
#     elif salary < 10000:
#         print("I will go for i20")
#     elif salary > 50000:
#         print("I will go for toyota supra")
#     else:
#         print(" i will rent a car")
# elif salary >= 500:
#     print('I will go for bike..')
# else:
#     print('I will go for savings..')

In [24]:
a = 10
b = 20

if a == 10 and b == 20:
    print("This is valid statement")
elif a == 10 and b < 20:
    print("This is valid inside the elif statement")
else:
    print("This is Not valid statement")

This is valid statement

In [25]:
# a = int(input("Enter 1st Number:"))
# b = int(input("Enter 2nd Number:"))

if a == 10 or b == 20:
    print("This is valid statement")
elif a >= 10 and b < 20:
    print("This is valid inside the elif statement")
else:
    print("This is Not valid statement")

This is valid statement

In [26]:
# # greater than 3 numbers
# a = int(input('Enter a 1st number:'))
# b = int(input('Enter a 2nd number:'))
# c = int(input('Enter a 3rd number:'))

# if a<b>c:
#     print(f"Number {b} is greater than {a} and {c}..")
# elif b<a>c:
#     print(f"Number {a} is greater than {b} and {c}..")
# elif a<c>b:
#     print(f"Number {c} is greater than {a} and {b}..")
# else:
#     print(f"greater is not found...")

## Loops

### While loop

In [27]:
a = 0
b = 10
count = 1
while a <= b:
    print(count*b)
    count = count+1
    if count == 11:
        break

10
20
30
40
50
60
70
80
90
100

In [28]:
# take a number from user and print a table of that number
# a = int(input("Enter a number:"))
i = 1
while i < 13:
    print(f"{a} x {i} = {a*i}")
    i = i + 1

0 x 1 = 0
0 x 2 = 0
0 x 3 = 0
0 x 4 = 0
0 x 5 = 0
0 x 6 = 0
0 x 7 = 0
0 x 8 = 0
0 x 9 = 0
0 x 10 = 0
0 x 11 = 0
0 x 12 = 0

In [29]:
greeting ="Good Morning "
name = "Harshal"
c = greeting + name

In [30]:
c

'Good Morning Harshal'

In [31]:
# name = input("Enter name: ")
# print("Good afternoon "+ name)

In [32]:
# name = input("Enter name: ")
# date = input("Enter Date: ")

# letter = '''Dear <name>
# \tYou are selected...!!
# your joining date is
# <date>'''
# letter = letter.replace('<name>',name)
# letter = letter.replace('<date>',date)

In [33]:
# print(letter)

In [34]:
b = "This is a the string with double  spaces"

In [35]:
b.find("  ")

32

In [36]:
b = b.replace('  ',' ')

In [37]:
letter = 'Dear Harry\n\tYour Python course is nice..! \nThanks..'

In [38]:
print(letter)

Dear Harry
	Your Python course is nice..!
Thanks..

### List

In [39]:
a = [1,2,35,6,23,123]
a[-3]

6

In [40]:
a[-3]=28

In [41]:
a

[1, 2, 35, 28, 23, 123]

In [42]:
l = ['Apurva', 'Harshal', 23, True, 12.23]

In [43]:
l

['Apurva', 'Harshal', 23, True, 12.23]

In [44]:
# list slicing
l[0:2]

['Apurva', 'Harshal']

In [45]:
l[0]='Dipali'

In [46]:
l[:2]

['Dipali', 'Harshal']

In [47]:
l.reverse()
print(l)

[12.23, True, 23, 'Harshal', 'Dipali']

In [48]:
l.append('want')
print(l)

[12.23, True, 23, 'Harshal', 'Dipali', 'want']

In [49]:
l.insert(4,'Loves')
print(l)

[12.23, True, 23, 'Harshal', 'Loves', 'Dipali', 'want']

In [50]:
l.pop(-1)
print(l)

[12.23, True, 23, 'Harshal', 'Loves', 'Dipali']

In [51]:
l.remove(23)
print(l)

[12.23, True, 'Harshal', 'Loves', 'Dipali']

#### Tuples

In [52]:
t=(3,1,2,5,6,2,1,4,)

In [53]:
t1=(1,)

In [54]:
type(t1)

tuple

In [55]:
# f1 = input("Enter the fruit number 1:")
# f2 = input("Enter the fruit number 2:")
# f3 = input("Enter the fruit number 3:")
# f4 = input("Enter the fruit number 4:")
# f5 = input("Enter the fruit number 5:")
# f6 = input("Enter the fruit number 6:")
# f7 = input("Enter the fruit number 7:")

In [56]:
# myFruitList = [f1,f2,f3,f4,f5,f6,f7]
# print(myFruitList)

In [57]:
# m1 = int(input("Enter the marks of student 1:"))
# m2 = int(input("Enter the marks of student 2:"))
# m3 = int(input("Enter the marks of student 3:"))
# m4 = int(input("Enter the marks of student 4:"))
# m5 = int(input("Enter the marks of student 5:"))
# m6 = int(input("Enter the marks of student 6:"))
# m7 = int(input("Enter the marks of student 7:"))

# marks = [m1,m2,m3,m4,m5,m6,m7]

In [58]:
# print(marks)

In [59]:
# a= [2,4,345,2,23]
# print(sum(a))

In [60]:
# t = (7,0,8,0,0,9)
# t.count(0)

# Dictionary and Sets

### Dictionary
* pair of key and values

In [61]:
myDict = {
    "Fast": 'In very quick manner',
    'Harshal':'A Programmer',
    'Marks':[23,34,12],
    "anotherdict":{'Dipali':'true love of Harshal'}
}

In [62]:
print(myDict['Fast'])
print(myDict['anotherdict']['Dipali'])

In very quick manner
true love of Harshal

In [63]:
myDict

{'Fast': 'In very quick manner',
 'Harshal': 'A Programmer',
 'Marks': [23, 34, 12],
 'anotherdict': {'Dipali': 'true love of Harshal'}}

In [64]:
myDict['Marks']=[91,20]

In [65]:
myDict

{'Fast': 'In very quick manner',
 'Harshal': 'A Programmer',
 'Marks': [91, 20],
 'anotherdict': {'Dipali': 'true love of Harshal'}}

In [66]:
# we can typecast dict in list also
print(list(myDict.keys()))

['Fast', 'Harshal', 'Marks', 'anotherdict']

In [67]:
print(type(myDict))
print(myDict.keys())
print(myDict.values())

<class 'dict'>
dict_keys(['Fast', 'Harshal', 'Marks', 'anotherdict'])
dict_values(['In very quick manner', 'A Programmer', [91, 20], {'Dipali': 'true love of Harshal'}])

In [68]:
print(myDict.items())

dict_items([('Fast', 'In very quick manner'), ('Harshal', 'A Programmer'), ('Marks', [91, 20]), ('anotherdict', {'Dipali': 'true love of Harshal'})])

In [69]:
updateDict = {
    "siddhi":"a good singer",
    "dipali":'true love of harshal and good fashion designer'
}
myDict.update(updateDict)

In [70]:
print(myDict.keys())

dict_keys(['Fast', 'Harshal', 'Marks', 'anotherdict', 'siddhi', 'dipali'])

In [71]:
myDict['dipali']

'true love of harshal and good fashion designer'

In [72]:
notes = 5
i = 1
j = 1
while i<notes:
    print(i)
    i += 1
else:
    
    while j < 2:
        print(i)
        j = j + 1
    print("in the else")

1
2
3
4
5
in the else

In [73]:
s = "my name is Harshal shinde"
len(s)

25

In [74]:
s[:-10]

'my name is Hars'

In [75]:
for i in s :
    if i == 's':
        print("i got  's'")
        break
    print('\t'+i)
else:
    if i == 'e':
        print('last char was e')
    print("this is a else condition")

	m
	y

	n
	a
	m
	e

	i
i got  's'

In [4]:
n = 5
for i in range (0,n):
    for j in range (0, i+1):
        print('+', end = ' ')
    print('\r')

+
+ +
+ + +
+ + + +
+ + + + +

In [77]:
n = 5

for i in range(n,0,-1):
    for j in range(n-i):
        print(' ', end =' ')

    for j in range(2*i-1):
        print('+',end=' ')
    print()

+ + + + + + + + +
  + + + + + + +
    + + + + +
      + + +
        +

In [78]:
n = 5
i = 0
while i<n:
    print(' '*(n-i-1)+'+ '*(i+1))
    i +=1

    +
   + +
  + + +
 + + + +
+ + + + +

In [79]:
n = 5
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end=" ")
    
    for j in range(2*i-1):
        print(i,end=' ')
    print()

5 5 5 5 5 5 5 5 5
  4 4 4 4 4 4 4
    3 3 3 3 3
      2 2 2
        1

In [80]:
n = 7
for i in range(n, 0, -1):
#     print(i)
    for j in range(n-i+1):
        print(' ',end =" ")
    
    for j in range(2*i-1):
        print(i-j-1,end = ' ')
    print()

  6 5 4 3 2 1 0 -1 -2 -3 -4 -5 -6
    5 4 3 2 1 0 -1 -2 -3 -4 -5
      4 3 2 1 0 -1 -2 -3 -4
        3 2 1 0 -1 -2 -3
          2 1 0 -1 -2
            1 0 -1
              0

#### list and tuples

In [81]:
'''Write a program to store a seven fruits in a
list entered by the user using for loop'''

# fruits=[]
# for i in range(0,7):
#     a = input(f"Enter a name of fruit {i+1}:")
#     fruits.append(a)

# print('\n',fruits)

'Write a program to store a seven fruits in a\nlist entered by the user using for loop'

## String Manupulation

In [82]:
s = 'My name is harshal shinde'

In [83]:
for i in range(len(s)):
    print(s[i])

M
y

n
a
m
e

i
s

h
a
r
s
h
a
l

s
h
i
n
d
e

In [84]:
a = s.index('harshal')

In [85]:
a = s.find("name")
for i in range(len('name')):
    print(a+i)

3
4
5
6

In [86]:
s.upper()

'MY NAME IS HARSHAL SHINDE'

In [87]:
s.swapcase()

'mY NAME IS HARSHAL SHINDE'

In [88]:
" ".join(s)

'M y   n a m e   i s   h a r s h a l   s h i n d e'

In [89]:
for i in reversed(s):
    print(i)

e
d
n
i
h
s

l
a
h
s
r
a
h

s
i

e
m
a
n

y
M

In [90]:
s[::-1]

'ednihs lahsrah si eman yM'

In [91]:
s.strip()

'My name is harshal shinde'

In [92]:
a = ' Harshal '
a.center(27,'+')

'+++++++++ Harshal +++++++++'

In [93]:
a.expandtabs()

' Harshal '

In [94]:
a = "We Are A Part Of A Full Stack"

In [95]:
a = a.lower()
print(a)

we are a part of a full stack

In [96]:
a.count('a')

5

## Quick Quizz
    a = "We all are a part of Full Stack"
**Task list**
1. Normalize all the string in lower case
2. Find number of occurence of "a" in entire data
3. Find all the location / index of "a" in string
4. replace all the "a" with "iNeuron"
5. print all the words as a list

In [97]:
a = "We all Are A Part Of Full Stack"
a = a.lower()
print('Data is: "'+a+'"')
print("\nNumber of occurence of 'a' in string:",a.count('a'))

for i in range(len(a)):
    if a[i]=='a':
        print(i)
a = a.replace('a', 'iNeuron')
print(a.split())

Data is: "we all are a part of full stack"

Number of occurence of 'a' in string: 5
3
7
11
14
28
['we', 'iNeuronll', 'iNeuronre', 'iNeuron', 'piNeuronrt', 'of', 'full', 'stiNeuronck']

In [98]:
ch = len(a) -1
while ch >= 0:
    print(a[ch])
    ch = ch -1

k
c
n
o
r
u
e
N
i
t
s

l
l
u
f

f
o

t
r
n
o
r
u
e
N
i
p

n
o
r
u
e
N
i

e
r
n
o
r
u
e
N
i

l
l
n
o
r
u
e
N
i

e
w

In [99]:
name='iNeuron'
vovels="AaEeIiOoUu"

for i in name:
    if i in vovels:
        print(f"'{i}' is a vovel")
    elif i == " ":
        print('\r')
    else:
        print(f"'{i}' is not vovel")

'i' is a vovel
'N' is not vovel
'e' is a vovel
'u' is a vovel
'r' is not vovel
'o' is a vovel
'n' is not vovel

In [104]:
#palindrome

a = input("Enter a String: ")
a =a.upper()
print(a)

if a[0::1] == a[::-1]:
    print(f"String {a} is palindrome...")
else:
    print("String {a} is not palindrome....")

Enter a String: Nitin
NITIN
String is palindrome...