### Loops

In [1]:
i = 0
while i < 10:
    print("Hello",i)
    i = i+1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9

# Quick Quizz
### Print 0 to 50 using while loop

In [2]:
i = 0
while i<=50:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [3]:
i = 0
while i<=5:
    print('Harshal')
    i = i+1

Harshal
Harshal
Harshal
Harshal
Harshal
Harshal

#### write a program to print contents of list using while loop

In [4]:
l = ['Harsh',123,'Python','Apache',310,'RR']

In [5]:
i = 0
while i<len(l):
    print(l[i])
    i=i+1

Harsh
123
Python
Apache
310
RR

In [6]:
for i in l:
    print(i)

Harsh
123
Python
Apache
310
RR

In [7]:
a=[i for i in range(1,500,2)]

In [8]:
even=[]
odd =[]

for i in range(0,15):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
        
print('Even',even)
print('Odd',odd)

Even [0, 2, 4, 6, 8, 10, 12, 14]
Odd [1, 3, 5, 7, 9, 11, 13]

In [9]:
n = int(input('Enter a number:'))
for i in range(0,n):
    print(' ',end='\n')
    for j in range(i):
        print('+ ',end='')

Enter a number:4


+
+ +
+ + +

#### write a program to print multiplication table of a given number using while loop

In [10]:
n = int(input('Enter a number:'))
i = 1
while i<=10:
    print(n*i)
    i = i+1

Enter a number:5
5
10
15
20
25
30
35
40
45
50

#### write a program to print multiplication table of a given number using for loop

In [11]:
n = int(input('Enter a number:'))

for i in range(1,11):
    print(f'{n} X {i} = {n*i}')

Enter a number:6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

### Write a program to greet a person name starts with "S"

In [12]:
l1 = ['Harshal','Siddhi','Shivani','Neha','Dipali']

In [13]:
for i in l1:
    if i.startswith('S'):
        print("Hello",i)

Hello Siddhi
Hello Shivani

### Write a program to find whether a given no is prime or not

In [50]:
n = int(input('Enter a number:'))

if n>=2:
    for i in range(2,n):
        if(n%i==0):
            print(f'{n} is not prime')
            break
        else:
            print(f'{n} is prime')
            break
else:
    print(f'{n} not is prime')

Enter a number:1
prime

In [48]:
n = int(input('Enter a number:'))

if n<=1:
    prime = False
else:
    prime = True
for i in range(2, n):
    if(n%i == 0):
        prime = False
        break
if prime:
    print(f'{n} is prime')
else:
    print(f'{n} is not prime')

Enter a number:3
3 is prime

In [28]:
for i in range(2,n+1):
    print(i)

2
3
4
5