# 21st March live Class
## Python Functions

* **Function is define using "def" keyword**

In [1]:
def test(a,b):
    print("Addition is:",a+b)

In [2]:
q=3

In [3]:
# test(32,q) + 6
# it will give an error

In [4]:
type(test(32,q))

Addition is: 35

NoneType

In [5]:
def test1(x,y):
    return x * y

In [6]:
test1(2,5) + 6

16

In [7]:
type(test1(2,5) + 6)

int

In [8]:
a = test1(2,9)

In [9]:
b = test(2,9)

Addition is: 11

In [10]:
a,b

(18, None)

In [11]:
def test3(p,q,r):
    return p+q*r

In [12]:
type(test3(2,4,5))

int

In [13]:
def test4(p,q):
    return p*p, q**3,p+q

In [14]:
print(type(test4(3,5)))
test4(3,5)

<class 'tuple'>

(9, 125, 8)

In [15]:
# we can store these output values in 3 different variables
x,y,z = test4(3,5)
print(x)
print(y)
print(z)

9
125
8

In [16]:
'''suppose we are not intrested in 3rd operation, 
and we dont want to store that in variable.'''
x, _ , _ = test4(4,10)
'''We are using placeholder as underscore "_"'''
print(x)
print(_)
print( _ )

16
14
14

In [17]:
def test5():
    return 'This is function'

In [18]:
test5()+' asdfdasfa'

'This is function asdfdasfa'

In [19]:
def test6():
    print('This is function')

In [20]:
# test6()+' asdfdasfa'
# it will give an error: TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [21]:
def test7(n):
    return n * 2

In [22]:
test7([23,434,45])
# list multiply by 2

[23, 434, 45, 23, 434, 45]

In [23]:
test7(67)

134

In [24]:
def test8(n):
    return n, n*3

In [25]:
b=test8([2,4,45,34])

In [26]:
b[0]

[2, 4, 45, 34]

In [27]:
b[1]

[2, 4, 45, 34, 2, 4, 45, 34, 2, 4, 45, 34]

In [28]:
type(b)

tuple

In [29]:
# function with default value
'''Note: You can't set default value to the first parameter, 
because 1st parameter is necessory to take'''
def test9(n,m=30):
    return n + m

In [30]:
test9(20,10)

30

In [31]:
def boolx(x=True,y=False):
    return x+y

In [32]:
boolx()

1

In [33]:
def travel(bike = True, car = False):
    plan = bike or car
    return bike, car, plan

In [34]:
travel(True)

(True, False, True)

In [35]:
travel(car = True)

(True, True, True)

***args**: It is a static function which helps to get "n" number of values
* It returns data in form of tuples

In [36]:
'''"*args" '''
def test10(*args):
    return args

In [37]:
test10('asdfds','sdfdas',[213,34,56,686])

('asdfds', 'sdfdas', [213, 34, 56, 686])

In [38]:
type(test10())

tuple

### Quick Quiz
##### Create a function which will take any no of values and 'return' a concatination of all list

In [39]:
def sol(*args):
    a=[]
    for i in args:
        a = a + i
    return a

In [40]:
sol([123,434,54,66],[12,4,5,6],[243,3,21,1],[2,8,1,2])

[123, 434, 54, 66, 12, 4, 5, 6, 243, 3, 21, 1, 2, 8, 1, 2]

In [41]:
def sol2(*args):
    return [i for i in args]

In [42]:
sol2([12,4,5,6],[243,3,21,1])

[[12, 4, 5, 6], [243, 3, 21, 1]]

In [43]:
def sol3(*args):
    a=[]
    for i in args:
        if type(i) == list:
            a = a + i
            return a 
        else:
            a = 'Given data is not in List format..'
            return a

In [44]:
sol3('asdfasdf',1234,[12,4,5,6],[243,3,21,1],[2,8,1,2])

'Given data is not in List format..'

****kwargs** : (keyword argument) 
* we can provide n number of data in a ("Key" : "Value") form
* It try to return a data in form of dictionary

In [45]:
def test11(**kwargs):
    return kwargs

In [46]:
# test11(23,34,21) 
# this is not correct way to call this function

In [47]:
test11(a = 8,b=2,c=[2,3,5,'Harshal'],d='Harsh')

{'a': 8, 'b': 2, 'c': [2, 3, 5, 'Harshal'], 'd': 'Harsh'}

In [48]:
type(test11())

dict

### Quick Quizz
1. Create a function to take any number of a mixed data and try to create a list of seperate data based on data type and return multiple result.
2. Create a function which will be able to use *args and *kwargs and it will be able to do all the list value concatination and return a list.

In [49]:
def sol1(*arg):
    a=[]
    b=[]
    c=[]
    d=[]
    for i in arg:
        if type(i)==int or type(i)==float:
            a.append(i)
        elif type(i)==list:
            b = b+i
        elif type(i) == str:
            c.append(i)
        elif type(i) == tuple:
            d.append(i)
    print(f'Int = {a} \nlist = {b}\nString = {c}\nTuple = {d}')

In [50]:
sol1('Harshal',12,34,[12,4,5,6],2.23,'Shinde',[243,3,21,1],(2,8,1,2))

Int = [12, 34, 2.23]
list = [12, 4, 5, 6, 243, 3, 21, 1]
String = ['Harshal', 'Shinde']
Tuple = [(2, 8, 1, 2)]

In [51]:
# other way to solve question 1 
def sol3_1(*args):
    dt = {}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
    return dt

In [52]:
sol3_1('Harshal',12,34,[12,4,5,6],2.23,'Shinde',[243,3,21,1],(2,8,1,2),True,2+4j)

{str: ['Harshal', 'Shinde'],
 int: [12, 34],
 list: [[12, 4, 5, 6], [243, 3, 21, 1]],
 float: [2.23],
 tuple: [(2, 8, 1, 2)],
 bool: [True],
 complex: [(2+4j)]}

In [53]:
def sol2(*args,**kwargs):
    a=[i for i in args if type(i)== list]
    b=[i[1] for i in kwargs.items() if type(i[1]) == list]
    return a,b

In [54]:
sol2('Harshal',12,34,[12,4,5,6],2.23,'Shinde',[243,3,21,1],(2,8,1,2),a=2,b=4,c=3)

([[12, 4, 5, 6], [243, 3, 21, 1]], [])

# ================================

In [55]:
def test12(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:
            if 'Harshal' in i[1]:
                print("Name is avaliable:",i[1])
            else:
                print("Name is not avaliable")
    return kwargs

In [56]:
test12(b=23,x=12,a=25,c=['Harshal','Shinde',123.34],n = 6+7j)

Name is avaliable: ['Harshal', 'Shinde', 123.34]

{'b': 23, 'x': 12, 'a': 25, 'c': ['Harshal', 'Shinde', 123.34], 'n': (6+7j)}

# 3rd April Live class 
## Python Functions

In [57]:
def test(**kwargs):
    return kwargs.items()

In [58]:
test(x='Harsh',y=32,z=51,w=45,v=63)

dict_items([('x', 'Harsh'), ('y', 32), ('z', 51), ('w', 45), ('v', 63)])

### Anonymous / Lamda function
* we can create a function without defining function name.
* we can say that anonymous function / lamda function

In [59]:
def test(name,mail):
    con = name + mail
    return mail, name, con

In [60]:
test("Harshal",'harshalshinde437@gmail.com')

('harshalshinde437@gmail.com', 'Harshal', 'Harshalharshalshinde437@gmail.com')

In [61]:
a = 10
b = 20
def test1(x,y):
    return x+y

In [62]:
test1(a,b)

30

In [63]:
m = lambda x,y : x+y

In [64]:
m(a,b)

30

In [65]:
m('harshalshinde436','@gmail.com')

'harshalshinde436@gmail.com'

In [66]:
b = 'shinde'
c = 'Harshal'
n = lambda a1,a2: print(a1,a2)

In [67]:
n(b,c)

shinde Harshal

In [68]:
# Scope of variable
r = 10 # global variable
def test3(a,b):
    r = a/b # local variable
    return r

In [69]:
test3(150,4)

37.5

### Docstring
* In case of pythons pre defined functions like "print()" or "input()" When we press Shift + Tab on that function or execute line "help(function_name)", we can see the description of that function.
* Same thing we can also see with user defined function as well, but their is no docstring is avaliavble.
* So, we can create aur own docstring as shown in below

In [70]:
def test4():
#     this is docstring
    '''
    this function do nothing, just printing a one silly line.
    '''
    print("My name is harshal")

In [71]:
help(test4)

Help on function test4 in module __main__:

test4()
    this function do nothing, just printing a one silly line.

## iterable, iterator and generator

In [72]:
# a = 'Harshal'
a = 10

In [74]:
# for i in a:
#     print(i)

**if their is a condition to iterate a data without using a for loop or any slicing/indexing operation, how can we do that?**
* their is a way to access data as follows

In [77]:
# s = 'Harshal'
# next(s)

### Difference between "iterable" and "iterator"
Sometimes we get 2 kinds of error
1. ***'int' object is not iterable***
2. ***'str' object is not an iterator***

#### iterator : iterator is a kind of entity out of which i can extract a data with  the help of may be a indexes.
#### iterable : iterable is a kind of a object from where i will be extract a data

In [78]:
def test(**kwargs):
    print(kwargs.items())

In [79]:
test(f='asd',a=
     'asdf',g=
    'asdfasdfd',
)

dict_items([('f', 'asd'), ('a', 'asdf'), ('g', 'asdfasdfd')])