# 28th Feb live Class
---
## Python Basics

### Print statement

In [1]:
print("This is my first python program")

This is my first python program

In [2]:
# This is also valid syntax in python 2.0 but invalid in Python 3.0
# print "This is first program"
# SyntaxError: Missing parentheses in call to 'print'. Did you mean print("This is first program")?

### Single line and multi-line comment

In [3]:
# my name is Harsh
print("This is single line comment")

This is single line comment

In [4]:
'''This
is
multi-line
comment'''
print("Above is multi-line comment")

Above is multi-line comment

### Variable creation
* variable is a local or global instance in which we are trying to store a data
* if we have to store some data in our main memory (RAM), I have to create some space or location in a main memory by using a name. That name is nothing but the **VARIABLE**
* variable names are case sensetive i.e. **'A=10' and 'a=10'** are two different variables.

In [5]:
a = 10

In [6]:
a

10

In [7]:
# type is used for checking a data type of variable
type(a)

int

In [8]:
b ="Harsh"

In [9]:
type(b)

str

In [10]:
a = 23
b = 'Harshal'

In [11]:
# we can write above thing in single line also
a, b = 23, 'Harshal'

In [12]:
a

23

In [13]:
b

'Harshal'

In [14]:
name = 'Harsh'
userid = 'IN001'
passwd = 'harshal@123'
mail = 'harshalshinde437@gmail.com'

In [15]:
a = 2.3423
type(a)

float

In [16]:
print(True + True + True + False + True)
print(False - True + True)

4
0

#### complex number in python
* We can create a complex number in python also
* only 'j' is allowed to create a complex number, you cant use other alphabet for representing 'complex' number in python

In [17]:
n = 23 + 7j
# 23 is real number and 7j is imaginary number

In [18]:
type(n)

complex

In [19]:
n.real

23.0

In [20]:
n.imag

7.0

In [21]:
n = 12 + 7j
m = 49 + 9j

In [22]:
n * m

(525+451j)

#### Dynamic typing
* python compilar understand type of data by itself. that thing is called as dynamic typing..
* python is dynamic programming language

In [23]:
b = 'sdf'
type(b)

str

In [24]:
# 1 + "Harsh"
# TypeError: unsupported operand type(s) for +: 'int' and 'str'

#### Type casting
* as from above line of code, we understood that, python cant perform any operation on hetrogenious datatypes
* for that we have to make all data in same type, that why **type casting** method is comes into picture
* for below line of code we are type casting '1' into a string data type and then we are performing concatination operation on both data..
* **Type casting tries to convert a data into other data type if and only if it is possible.**
* we can't type cast any string data like "harshal" into int() data type. it will give you a **ValueError**:invalid literal for int() with base 10: 'harshal'
* But you can typecast 2310 this number into str() type

In [25]:
print(str(1) + "Harsh")
print('1'+'Harsh') # This is stong typing

1Harsh
1Harsh

In [26]:
# int('harsh')
# ValueError: invalid literal for int() with base 10: 'harsh'

#### Upcasting
* upcasting is another concept in python, where in some experssion python gives a output of some int() data into float() data.
* lets suppose output of "10/2" will always show you in float() type i.e. 5.0, that is nothing but the **Self Upcasting**.

In [27]:
10/2

5.0

In [28]:
# 'Harsh ' * "harsh"
# TypeError: can't multiply sequence by non-int of type 'str'

In [29]:
'harsh '+'Harsh '+"Harsh "+"Harsh "

'harsh Harsh Harsh Harsh '

In [30]:
'Harsh '* 4

'Harsh Harsh Harsh Harsh '

#### Taking Input from user
* We can take input from user and store in a variable.
* **input()** is a function which allows to take a input from user and store it in a variable.
* by default input() store the data in form of string format.

In [31]:
a = 10
type(a)

int

In [32]:
a = input("Enter a number:")
type(a)

Enter a number:10

str

### Quick Quiz
1. Take a integer input **a,b,c** from user
2. perform **(a+b)/c** and store this in a variable **o1**(output1)
3. add o1 into some complex var created by you, **o2=o+complex_num**
4. **o2+"your_name"** Try to concatinate your name with previous output

In [33]:
# This is step 1
a = int(input("Enter a number for A:"))
b = int(input("Enter a number for B:"))
c = int(input("Enter a number for C:"))

# This is step 2 
o1 = (a+b)/c
print(f'({a} + {b}) / {c} = {o1}')

# This is step 3
complex_num = 23+6j
o2 = o1 + complex_num
print(f'{o1} + {complex_num} = {o2}')

# This is step 4
# typecasting is needed for 'o2' only then concatination is possible
str(o2)+' Harshal Shinde'

Enter a number for A:32
Enter a number for B:54
Enter a number for C:3
(32 + 54) / 3 = 28.666666666666668
28.666666666666668 + (23+6j) = (51.66666666666667+6j)

'(51.66666666666667+6j) Harshal Shinde'

## Decision making statement

In [34]:
a = int(input("Input a number:"))

Input a number:64

#### Conditional statement (if ... else)

In [35]:
if a < 40:
    print("I want eat maggie...!")
else:
    print("I don't want to eat maggie...")

I don't want to eat maggie...

#### Conditional statement (if... elif... else)

In [36]:
if a < 40:
    print("I want eat maggie...!")
elif a > 60:
    print("I want to eat pasta...!")
else:
    print("I don't want to eat anything...")

I want to eat pasta...!

##### This is nested if.. elif.. else kind of statement

In [37]:
salary = int(input("Enter your salary:"))

if salary > 1000:
    print("your salary is good")
    if salary < 5000:
        print("I will go witn a TATA NANO")
        if True: # this is universal condition..
            print('False code')
    elif salary < 10000:
        print("I will go with MARUTI SUZUKI")
    elif salary > 50000:
        print("I will go with, 'is that a fucking SUPRAAAAAAAAA...?'")
    else:
        print("I will rent a car")
elif salary > 800:
    print("I will fo for bike")
elif salary > 500:
    print("I will go for savings..")
else:
    print("KHATAM, TATA - BYE BYE")

Enter your salary:45200
your salary is good
I will rent a car

# 6th March Live Class
### continue lecture for conditional statements

---
### Use of AND , OR , NOT operators in conditional statement
* **AND** is use when we need bot condition true at same time
* **OR** is use when we need atleat one condition true.
* **NOT** is use to invert the statement like False = True, True = False
* **AND / OR / NOT** operator performs operations as per their logical properties (Logic tables)
---
***Logical gates works as follows***
### AND gate
| A | B |**A AND B** |
|:-:|:-:|:-------:|
| True | True | **TRUE** |
| True | False | **FALSE** |
| False | True | **FALSE** |
| False| False | **FALSE** |

### OR gate
| A | B |**A OR B** |
|:-:|:-:|:-------:|
| True | True | **TRUE** |
| True | False | **TRUE** |
| False | True | **TRUE** |
| False| False | **FALSE** |

### NOT gate
| B |**A AND B** |
|:-:|:-------:|
 True | **FALSE** |
 False | **TRUE** |

In [38]:
a = 10
b = 20

if a == 10 and b > 20:
    print("This is Valid statements")
else:
    print("Condition is not valid")

Condition is not valid

In [39]:
a = 10
b = 20

if a == 10 or b > 20:
    print("This is Valid statements")
else:
    print("Condition is not valid")

This is Valid statements

#### Task:
***Take a input from your keyboard as your first name and last name and then try to validate of write multiple condition by yourself***

In [40]:
first_name = input("Enter your first name:")
last_name = input("Enter your last name:")

if first_name == "Harshal" and last_name == "Shinde":
    print('Access Granted...! \nPerson is orignal...')
else:
    print("Access Denied...! \nThis person is fake....!")

Enter your first name:Harshal Shinde
Enter your last name:Shinde
Access Denied...!
This person is fake....!

# Looping statements
---
## While loop

In [41]:
initial_speed = 0
final_speed = 10

while initial_speed <= final_speed:
    print(initial_speed,"KM/h")
    initial_speed = initial_speed+1
    if initial_speed == final_speed:
        break

0 KM/h
1 KM/h
2 KM/h
3 KM/h
4 KM/h
5 KM/h
6 KM/h
7 KM/h
8 KM/h
9 KM/h

In [42]:
initial_speed = 0
final_speed = 10

while initial_speed < final_speed:
    print(initial_speed,"KM/h")
    initial_speed = initial_speed+1

0 KM/h
1 KM/h
2 KM/h
3 KM/h
4 KM/h
5 KM/h
6 KM/h
7 KM/h
8 KM/h
9 KM/h

# 7th March Live class
---
### Continue to the loops

In [1]:
notes = 5
i = 0
j = 0
while i <= notes:
    print(i)
    i += 1 # same as i = i + 1
else:
    while j <=3:
        print("Ok fine")
        j += 1
    print("No 10 rs notes are avaliable")

0
1
2
3
4
5
Ok fine
Ok fine
Ok fine
Ok fine
No 10 rs notes are avaliable

### For loop

In [2]:
s = 'My name is Harshal Shinde'

In [3]:
s[::-1]

'ednihS lahsraH si eman yM'

In [4]:
s[2:-7]

' name is Harshal'

In [5]:
for i in s:
    print(i)

M
y

n
a
m
e

i
s

H
a
r
s
h
a
l

S
h
i
n
d
e

In [6]:
s=s.upper()
for i in s:
    if i == 'S':
        print(f"  I got '{i}'")
        continue
    print('\t',i)

	 M
	 Y

	 N
	 A
	 M
	 E

	 I
  I got 'S'

	 H
	 A
	 R
  I got 'S'
	 H
	 A
	 L

  I got 'S'
	 H
	 I
	 N
	 D
	 E

In [7]:
for i in range(len(s)):
    print(s[-i-1])

E
D
N
I
H
S

L
A
H
S
R
A
H

S
I

E
M
A
N

Y
M

In [8]:
# else condition in for only executes when completely for loop is executed
for i in s:
    if i == 'N':
        continue
    print(i)
else:
    if i =='E':
        print('last char was "E"')
    print("This is else condition")

M
Y

A
M
E

I
S

H
A
R
S
H
A
L

S
H
I
D
E
last char was "E"
This is else condition

In [10]:
s = 'ineuron'
ss = ""

for i in range(len(s)):
    if s[i] == 'n':
        continue
    else:
        ss = ss + s[i]

In [11]:
ss

'ieuro'

In [26]:
# nested for loop
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("+", end = " ")
        
    print('\r')

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

### Quick Quiz
 print following pattern
    
    + + + + + + + 
      + + + + + 
        + + + 
          +

In [73]:
n = 4
for i in range(n,-1,-1):
    for j in range(n-i):
        print(" ", end=" ")
    for j in range(2*i-1):
        print("+ ",end="")
    print()

+ + + + + + +
  + + + + +
    + + +
      +

In [94]:
n = 5

for i in range(0,n):
    for j in range(i):
        print("", end="")
    for k in range(i+1):
        print("*", end=" ")
    print('\r')

*
* *
* * *
* * * *
* * * * *