# 21st March Live Class
---
## Python Functions

In [1]:
a = 13
b = 21
a+b

34

In [2]:
def add(x=0,y=0):
    '''you can add two numbers by giving two numerical values(x,y)'''
    print (x+y) # we dont allowed to use print with in production

In [3]:
type(add(32,12))

44

NoneType

In [4]:
add(-12,234)

222

In [5]:
def test(b,m):
    return b*m

In [6]:
test(2,3)+4

10

In [7]:
a = test(23,34)

In [8]:
b = add(23,34)

57

In [9]:
type(a)

int

In [10]:
type(b)

NoneType

In [11]:
def test2(t,n,m):
    return t + n

In [12]:
# test2(2,8)
# this will gives an error because we didn't passed 3rd argument

In [13]:
def test3(n,m):
    return n*10, m*40,m+n

In [14]:
c = test3(5,4)

In [15]:
print(f"Value of c[0] = {c[0]}\nValue of c[1] = {c[1]}\nValue of c[2] = {c[2]}")

Value of c[0] = 50
Value of c[1] = 160
Value of c[2] = 9

In [16]:
type(test3(3,2))
# when function have to return a multiple value, then it will give you in form of tuple

tuple

In [17]:
# now i want those 3 values in 3 different variable, how can i get?
c,x,v = test3(2,6)
print(f"Value of c: {c}\nValue of x: {x}\nValue of v: {v}")

Value of c: 20
Value of x: 240
Value of v: 8

In [18]:
def test4():
    return("This is my function ")

In [19]:
a = test4()

In [20]:
a + 'hahahahaha'

'This is my function hahahahaha'

In [21]:
def test5():
    print("This is my function ")

In [22]:
a = test5()

This is my function

In [23]:
# a + 'hahahaha'
print("""This will try to give an error..
TypeError: unsupported operand type(s) for +: 'NoneType' and 'str' """)

This will try to give an error..
TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [24]:
# if we are try to give an list as an arguments..
def test6(n):
    return n*2

In [25]:
test6([23,34,54])

[23, 34, 54, 23, 34, 54]

In [26]:
def test7(n):
    return n,n*3

In [27]:
b = test7([12,23,45])

In [28]:
b[0]

[12, 23, 45]

In [29]:
b[1]

[12, 23, 45, 12, 23, 45, 12, 23, 45]

In [30]:
test7(23)

(23, 69)

In [31]:
# we can set default value to the parameter aso
def test8(n,m=10):
    return n+m

In [32]:
test8(9,4)

13

In [33]:
def boolx(x=True,y=False):
    return x + y

In [34]:
boolx()

1

In [35]:
 boolx(False)

0

In [36]:
boolx(False,8)

8

In [37]:
def travel(bike =True , car = False):
    plan_travel = bike or car
    return bike , car , plan_travel

In [38]:
travel()

(True, False, True)

In [39]:
travel(False)

(False, False, False)

In [40]:
# how to pass a one argument for second variable, for first variable it have to set default value

travel(car = True)

(True, True, True)

In [41]:
travel(False,True)

(False, True, True)

In [42]:
def test9(*args):
    return args

In [43]:
b=test9('harshalshininde','ineuron',23,[2,4,5,6])

In [44]:
b

('harshalshininde', 'ineuron', 23, [2, 4, 5, 6])

### Quick Quiz
* Create a function which will take any no of values and 'return' a concatination of all list

In [45]:
def qq2(*args):
    l1=[]
    for i in args:
        if type(i) == list:
            l1.extend(i)
    return l1

In [46]:
qq2([23,34,65,23],[1,4,6,8],['harsh',23,45],[8,9,0],7,23)

[23, 34, 65, 23, 1, 4, 6, 8, 'harsh', 23, 45, 8, 9, 0]

In [47]:
# This is a correct solution
def qq1(*args):
    l=[]
    for i in args:
        l = l + i
    return l

In [48]:
qq1([23,34,65,23],[1,4,6,8],['harsh',23,45],[8,9,0])

[23, 34, 65, 23, 1, 4, 6, 8, 'harsh', 23, 45, 8, 9, 0]

In [49]:
def qq(*args):
    return [i for i in args]

In [50]:
qq([23,34,65,23],[1,4,6,8],['harsh',23,45],[8,9,0])

[[23, 34, 65, 23], [1, 4, 6, 8], ['harsh', 23, 45], [8, 9, 0]]

---
****kwargs** : (keyword argument) 
* we can provide n number of data in a ("Key" : "Value") form
* It try to return a data in form of dictionary

In [51]:
def test10(**kwargs):
    return kwargs

In [52]:
# test10(12,34,12)
print("""This thing will give an error becasue we pass the 3 argument, but not in form of 'Key:Value'pair..
This will give you TypeError:-
"TypeError: test10() takes 0 positional arguments but 3 were given" """)

This thing will give an error becasue we pass the 3 argument, but not in form of 'Key:Value'pair..
This will give you TypeError:-
"TypeError: test10() takes 0 positional arguments but 3 were given"

In [53]:
type(test10(a=14,b=14,c=52,d={'a': 14, 'b': 14, 'c': 52}))

dict

In [54]:
def test11(*args):
    return args

In [55]:
test11(2,45,'Harsh',23,[23,5,2,0])

(2, 45, 'Harsh', 23, [23, 5, 2, 0])

---
### Quick Quizz
1. Create a function to take any number of a mixed data and try to create a list of seperate data based on data type and return multiple result.
2. Create a function which will be able to use *args and *kwargs and it will be able to do all the list value concatination and return a list.

In [56]:
def fun1(*args,**kwargs):
    dt={}
    for i in args:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]
            
    for i in kwargs:
        if type(i) in dt:
            dt[type(i)].append(i)
        else:
            dt[type(i)] = [i]

    return dt

def fun2(*args, **kwargs):
    l = []
    for i in args:
        if type(i) == list:
            l.extend(i)
    d = []
    for j in kwargs.items():
        if type(j)==list:
            d.append(j)
    return l,d

In [57]:
fun1('Harshal',12,34,[12,4,5,6],2.23,'Shinde',[243,3,21,1],(2,8,1,2),True,2+4j,19.4,)

{str: ['Harshal', 'Shinde'],
 int: [12, 34],
 list: [[12, 4, 5, 6], [243, 3, 21, 1]],
 float: [2.23, 19.4],
 tuple: [(2, 8, 1, 2)],
 bool: [True],
 complex: [(2+4j)]}

In [58]:
fun2([23,2,4,56],[2,5,8,2],3,4,5,6,d=[23,4,6,2],a=3,b=6,c="harshal")

([23, 2, 4, 56, 2, 5, 8, 2], [])

---

In [59]:
def test12(**kwargs):
    return kwargs

In [60]:
test12(b=12,c=144,d=10,a=92)

{'b': 12, 'c': 144, 'd': 10, 'a': 92}

In [61]:
def test12(**kwargs):
    for i in kwargs.items():
        if type(i[1]) == list:
            if "harshal" in i[1]:
                a=(f"{i[1]} your name is avaliable inside list")
    return a

In [62]:
test12(b=6,c=[2,5,6.12,34],d=['harshal','shinde',10.3],n=6+4j)

"['harshal', 'shinde', 10.3] your name is avaliable inside list"

---
# 3rd April Live Class
### Continue on functions

In [63]:
def test(**kwargs):
    print(kwargs.items())

In [64]:
test(a='test',b=23,c=34.12,d=[2,5,1,0])

dict_items([('a', 'test'), ('b', 23), ('c', 34.12), ('d', [2, 5, 1, 0])])

---
### Lmabda Function / Anonymous function
* Python anonymous functions are also known as **Lambda function.** The keyword used is **lambda** and they are written in one line and it can have only one expression. These functions don’t need to be defined or named and they are for one-time usage.
* Python Lambda function is a one-liner function with no name & used for a one-time task.
* One-time tasks like performing arithmetic operations, sorting names, loops, etc.
* It makes the code really small but the code becomes less readable as lambda is an advanced feature.

In [65]:
def test(name, mail_id):
    con = name + mail_id
    return mail_id, name, con

In [66]:
test('harshalshinde','@gmail.com')

('@gmail.com', 'harshalshinde', 'harshalshinde@gmail.com')

In [67]:
a = 10
b = 20

def test1(x,y):
    return x + y

In [68]:
test1(a,b)

30

In [69]:
# same above task we can do with lambda function
m = lambda x,y : x + y

In [70]:
m(23,12)

35

In [71]:
type(m)

function

In [72]:
type(test1)

function

In [73]:
m = 12

* after assigning any other value to the variable which was we used to store lambda functions value we can see that function is not working properly, it will throwing an error,
* We have to run function defination again, only then we can use that lambda function.

* basically, it is only for one-time use...

In [74]:
# m('harshalshinde','@gmail.com')

In [75]:
b = 'Harshal'
c = 'Shinde'
n = lambda x,y : print(x,y)

In [76]:
n(b,c)

Harshal Shinde

---
### Scope of variable
1. **Global Variable**
    1. Global Variable is always define outside of function.
    2. Global variable can be accessed inside or outside of the function.
2. **Local Variable**
    1. Local variable is always define inside the function.
    2. Local variable only works inside function or local scope.

In [77]:
r = 10 # This is Global variable
def test3(a,b = 1):
    r = a/b # This is Local variable
    return r

In [78]:
test3(10,10)

1.0

In [79]:
# we can access this variable outside the function
r

10

---
### Docstring
* Python docstrings are the string literals that appear right after the definition of a function, method, class, or module.

In [80]:
def test4():
    '''This is the sample function which is used to demonstrate docstring
    This function just do nothing... only print some lines...
    '''
    return "Excuse me Please... \nMy name is Anthony Gonsalvis...!! "

In [81]:
a = test4()+'Excuse Me Please...!!'
print(a)

Excuse me Please...
My name is Anthony Gonsalvis...!! Excuse Me Please...!!

In [82]:
help(test4)

Help on function test4 in module __main__:

test4()
    This is the sample function which is used to demonstrate docstring
    This function just do nothing... only print some lines...

___
## Difference between ITERABLE, ITERATOR and GENERATOR

1. **Iterable:**
    1. **An object is called iterable if we can get an iterator from it.** Most built-in containers in Python like: list, tuple, string etc. are iterables.
    1. **_An iteratable is a Python object that can be used as a sequence._**
    2. You can go to the next item of the sequence using the **next()** method.

    2. You can loop over an iterable, but you cannot access individual elements directly.
    3. It’s a container object: it can only return one of its element at the time.
2. **Iterator:**
    1. Iterator in Python is simply an object that can be iterated upon. An object which will return data, one element at a time.
    2. Python iterator object must implement two special methods, __iter__() and __next__(), collectively called the iterator protocol.
3. **Generator:**
    1. Generators are basically functions that return traversable objects or items. 
    2. These functions do not produce all the items at once, rather they produce them one at a time and only when required. Whenever the for statement is included to iterate over a set of items, a generator function is run. Generators have a number of advantages as well.
    3. For generator we use **_yield_** built-in data type.

In [83]:
print("""This will be throw an error, because int object is not iterable,
also we can't perform any slicing operation on 'int' object""")
a = 10
for i in a:
    print(i)

This will be throw an error, because int object is not iterable,
also we can't perform any slicing operation on 'int' object

TypeError: 'int' object is not iterable

In [84]:
for i in "Harshal":
    print(i)

H
a
r
s
h
a
l

In [85]:
s = "Harshal" # Here 's' is iterable object
s = iter(s)   # Here we converted 's' into iterator object
next(s)       # Now we can access each element using next

'H'

In [86]:
next(s)

'a'

In [87]:
# once index is out of bound, it will throw an error "StopIteration"
next(s)

'r'

In [88]:
print("""we can't convert "int" object into iterator, that's why it will be throw an error""")
a = 10
s = iter(a)
next(s)

we can't convert "int" object into iterator, that's why it will be throw an error

TypeError: 'int' object is not iterable

In [89]:
print("""We can convert list object into iterator..
also we can convert tuple,set,dict objects in iterator as well""")
items = ['harsh','shinde','xyz','abc']
iterator = iter(items)
next(iterator)

We can convert list object into iterator..
also we can convert tuple,set,dict objects in iterator as well

'harsh'

In [90]:
print("This will give you a next object in iterator..")
next(iterator)

This will give you a next object in iterator..

'shinde'

In [91]:
print("We can access iterable using indexing operation")
items[0]

We can access iterable using indexing operation

'harsh'

In [92]:
print("but we can't access iterator using indexing operation \n it will throw an TypeError:'list_iterator' object is not subscriptable'")
iterator[0]

but we can't access iterator using indexing operation
 it will throw an TypeError:'list_iterator' object is not subscriptable'

TypeError: 'list_iterator' object is not subscriptable

In [93]:
print("""This function is try to demonstrate the concept of generator, and what if we don't use generator for this kind of function""")
def test5(n):
    l=[]
    for i in range(n):
        l.append(i**3)
    
    return l

This function is try to demonstrate the concept of generator, and what if we don't use generator for this kind of function

In [94]:
print('''Don't run below line, This will going to burst your RAM.. 
this below line was just for explaining the concept of generator''')
# test5(600000000)

Don't run below line, This will going to burst your RAM..
this below line was just for explaining the concept of generator

In [95]:
print("""This code explains concept of generator..
for create generator, we use 'yield' built-in keyword""")

def test6(n):
    l = []
    for i in range(n):
        yield i**3

This code explains concept of generator..
for create generator, we use 'yield' built-in keyword

In [96]:
print(test6(30))

<generator object test6 at 0x0000014BFD82A348>

In [97]:
'''don't execute this below code, this will eat your lots of time.. '''
# for i in test6(600000000):
#     print(i)

"don't execute this below code, this will eat your lots of time.. "

In [98]:
range(20)

range(0, 20)

In [99]:
list(range(20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [100]:
[i for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [101]:
# generating fibonaci series

def fibo(n):
    a = 1
    b = 1
    output = []
    for i in range(n):
        output.append(a)
        a, b = b , a+b
    return output

In [102]:
fibo(11)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [103]:
# same operation we can perform with yield
# yield takes memory for print only one no. of fibonacci series


def fibo(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a, b = b , a+b

In [104]:
fibo(10)

In [105]:
print('''try to give input as 1000000''')
for i in fibo(10):
    print(i)

try to give input as 1000000
1
1
2
3
5
8
13
21
34
55

---
# File operations
### Modes of operations

---
|**Character** |**Meaning** 
|:--:|:--
|**'r'** |open for reading (default)
|**'w'** |open for writing, truncating the file first
|**'x'** |create a new file and open it for writing
|**'a'** |open for writing, appending to the end of the file if it exists
|**'b'** |binary mode
|**'t'** |text mode (default)
|**'+'** |open a disk file for updating (reading and writing)
|**'U'** |universal newline mode (deprecated)

In [106]:
# this is used for creating new file in a pertiocular directory.
# if file is already present, then it will try to open that file
f = open('file operations/test.txt',"w")

In [107]:
# This is used to write someting in file
# here in output, you'll able to see, how many total characters are present in the file
f.write(r'My name is harshal shinde, This is the full stack data science class')

68

In [108]:
# this is used to close the previously opend file
# if you didn't closed that file, you can't see the changes you made in that file..
# you'll not able to see last text you was written in that file
f.close()

In [109]:
f = open('file operations/test.txt')

In [110]:
print(f.read())

My name is harshal shinde, This is the full stack data science class

In [111]:
f.read()

''

In [112]:
print("It will try to set the current cursor position at the number you given in f.seek(0)")
f.seek(0)

It will try to set the current cursor position at the number you given in f.seek(0)

0

In [113]:
print("f.read(25) will give the 25 characters from the current position of cursor")
f.read(25)

f.read(25) will give the 25 characters from the current position of cursor

'My name is harshal shinde'

In [114]:
f.read()

', This is the full stack data science class'

In [115]:
print("Here we are trying to open test file in a 'r' mode(read mode)")
f = open('file operations/test.txt','r')

Here we are trying to open test file in a 'r' mode(read mode)

In [116]:
print("""We can't perform write operation here, because we opened this file in 'r' read mode.
it will be throw an error as: 
UnsupportedOperation: not writable""")
# f.write('sdfdsaf')

We can't perform write operation here, because we opened this file in 'r' read mode.
it will be throw an error as:
UnsupportedOperation: not writable

UnsupportedOperation: not writable

In [117]:
f.read()

'My name is harshal shinde, This is the full stack data science class'

In [118]:
f.close()

In [120]:
print('''We can't perfor read operation on closed file''')
f.read()

We can't perfor read operation on closed file

ValueError: I/O operation on closed file.

TypeError: open() missing required argument 'file' (pos 1)